{{ if .IsTranslated }}
  <span class="post-translations">
    <button class="btn btn-sm btn-link text-decoration-none p-0" type="button" data-bs-toggle="collapse" 
            data-bs-target="#post-translations-{{ .Permalink | relURL | anchorize }}" 
            aria-expanded="false">
      <i class="fas fa-language me-1"></i>Translations
    </button>
    
    <div id="post-translations-{{ .Permalink | relURL | anchorize }}" class="collapse mt-2">
      {{ range .Translations }}
        {{ $trans := .Params.translated | default true }}
        {{ if $trans }}
          <a lang="{{ .Lang }}" href="{{ .Permalink }}" class="badge bg-secondary text-decoration-none me-1">
            {{ index .Site.Data.read_in_lang .Lang }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </span>
{{ end }}