{{ if .IsTranslated }}
  <center>
    <button class="btn bg-transparent" data-toggle="collapse" data-target="#post-translations-{{ .Permalink | relURL | anchorize }}">
    <i class="fas fa-atlas fa-2x primary"></i>
  </buttton>
    <div id="post-translations-{{ .Permalink | relURL | anchorize }}" class="collapse">
      {{ range .Translations }}
        {{ $trans := .Params.translated | default true}}
        {{ if $trans }}
          <div>
            <a lang="{{.Lang}}" href="{{ .Permalink }}">
              {{ index .Site.Data.read_in_lang .Lang }}
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </center>
{{ end }}