<article class="post">
	<header class="entry-header">
		<div class="entry-meta">
       <span class="posted-on">
          {{ partial "dates.html" .}}
       </span>
		</div>
		<h4 class="entry-title">
		  <a  href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
		</h4>
	{{ partial "post/i18n.html" . }}
		 
	</header>
	<div class="entry-content">
	  <div class="row">
      {{ if .Resources.ByType "image" }}
        {{ $data := newScratch }} 
        {{ range first 1 (.Resources.ByType "image") }}
          {{ $img := . }}
          {{ $img := $img.Fit "400x400" }}
          {{ $data.Set "img" $img.RelPermalink }}
        {{ end }}
        
        {{ with .Resources.Get .Params.image }}
          {{ $img := . }}
          {{ $img := $img.Fit "400x400" }}
          {{ $data.Set "img" $img.RelPermalink }}
        {{ end }}
        <div class="col col-md-4">
          <img src={{$data.Get "img"}}>
        </div>
      {{ end }}

	    <div class = "col">{{ .Summary }}</div>
	  </div>
		{{ partial "funcs/read_more.html" .RelPermalink | safeHTML }}
	</div>
</article>