<!DOCTYPE html>
<html>
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/head.html" . }}

    {{ block "head" .}}
      <!-- for extra header scripts etc -->
    {{ end }}
    
  </head>
  
  <body>

    {{ partial "hero.html" . }}
    {{ partial "menu.html" . }}

    <main id="main">
      <div class="container col-md-8 offset-md-2">
     			{{ if eq .Params.translated false }}
            <div class="not-translated" lang="{{ .Lang }}">
               {{ i18n "missing_translation" }}
             </div>
          {{ end }}
          
          {{ block "main" . }}
          {{ end }}
    	</div>	<!-- /container -->
    </main>
  
    <div class="container col-md-8 offset-md-2">
      <center>
        <a href="#hero">
          <i class="fa fa-chevron-up chevron"></i>
        </a>  
      </center>
  	</div>

    {{ block "languages" . }}
      {{ partial "post/i18n.html"}}
    {{ end }}
  

    {{ partial "footer/footer.html" . }}
    {{ partial "footer/scripts.html" . }}
    {{ block "footer" . }}
    {{ end }}
  </body>
  
</html>
