<!DOCTYPE html>
<html>
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/head.html" . }}

    {{ block "head" .}}
      <!-- for extra header scripts etc -->
    {{ end }}
    
  </head>
  
  <body>

    {{ partial "hero.html" . }}
    {{ partial "menu.html" . }}

    {{ block "fastsearch" .}}
    <!-- empty to remove -->
    {{ end }}
   
    <main id="main" class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12" style='margin: 0 auto'>
         	<article class="post">
         	  
            {{ block "title" . }}
              <header class="entry-header">
                 <div class="entry-meta">
                   <span class="posted-on">
                      {{if isset .Params "date"}}
                        <time class="entry-date published" datetime="{{ .Date.Format .Site.Params.DateForm }}">
                           {{- .Date.Format "January 2, 2006" -}}
                        </time>
                      {{end}}
                   </span>
                 </div>
                <h1 class="section-title">{{ .Title }}</h1>
              </header>
            {{ end }}
            
            {{ block "translation" .}}
               {{ if eq .Params.translated false }}
                <div class="not-translated">
                   {{ i18n "missing_translation" | markdownify }}
                 </div>
              {{ end }}
            {{ end }}
            
            {{ block "main" . }}
            {{ end }}
      	  </article><!-- #post-## --> 
      	</div>	
    	</div>
    </main> <!-- /container -->
  
    <div class="container col-md-8 offset-md-2">
      <center>
        <a href="#hero">
          <i class="fa fa-chevron-up chevron"></i>
        </a>  
      </center>
  	</div>

    {{ block "languages" . }}
      {{ partial "post/i18n.html"}}
    {{ end }}
 
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/scripts.html" . }}
    {{ block "footer" . }}
    {{ end }}
  </body>
  
</html>
