{{ define "main" }}
  </article class="post">
  	<div class="row">
   		{{ if eq .Params.translated false }}
        <div class="not-translated" lang="{{ .Lang }}">
           {{ i18n "missing_translation" }}
         </div>
      {{ end }}
        
  		<div class="col-sm-8 col-sm-offset-2">
        {{ range .Paginator.Pages }}
          {{ partial "post/summary.html" .}}
        {{ end }}
  			<ul class="pagination">
          {{ template "_internal/pagination.html" . }}
  			</ul>
  		</div>
  	</div>
  </article>
{{ end }}
