
{{ define "main" }}
 	<article class="post">
		<header class="entry-header">
 			<div class="entry-meta">
         <span class="posted-on">
            <time class="entry-date published" datetime="{{ .Date.Format .Site.Params.DateForm }}">
               {{if isset .Params "date"}}{{- .Date.Format "January 2, 2006" -}}{{end}}
            </time>
         </span>
 			</div>
 			
 		<h1 class="entry-title">{{ .Title }}</h1>
		</header>

		<div class="entry-content">
			{{ .Content }}
		</div>
	</article><!-- #post-## -->
{{ end }}
