<main id="main">

	<div class="container">

       <!-- {{ $home := readDir "content/home" }}
        {{ range $home }}
                {{ if .IsDirectory }}
            	{{ range . }}
            		{{ printf "partial home/%s.html" . }}
            	{{ end }}
        	{{ end }}
        {{ end }} 
        -->
        
        {{ if .Site.Params.showSubheader }}
            {{ partial "home/subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.showServices }}
            {{ partial "home/services.html" . }}
        {{ end }}

        {{ if .Site.Params.showRecentWorks }}
            {{ partial "home/recentworks.html" . }}
        {{ end }}

        {{ if .Site.Params.showDownload }}
            {{ partial "home/download.html" . }}
        {{ end }}

        {{ if .Site.Params.showClients }}
            {{ partial "home/clients.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
