{{ define "main" }}
<article class="post">
		<header class="entry-header">
 			<div class="entry-meta">
         <span class="posted-on">
            <time class="entry-date published" datetime="{{ .Date.Format .Site.Params.DateForm }}">
               {{if isset .Params "date"}}{{- .Date.Format "January 2, 2006" -}}{{end}}
            </time>
         </span>
 			</div>
 			
 			{{ if eq .Params.translated false }}
        <div class="not-translated" lang="{{ .Lang }}">
           {{ i18n "missing_translation" }}
         </div>
      {{ end }}
 			
 		  <h1 class="entry-title">{{ .Title }}</h1>
		</header>
  
  <p>{{ .Content }}</p>
  
  <div class="my-5">
    <table class="table table-sm ">
      <thead>
        <tr>
          <th class="text-right b-rladies-r"> name </th>
          <th class="text-left"> role </th>
        </tr>
      </thead>
      <tbody>
        {{ $gt := $.Site.Data.global_team }}
        {{ range $gt.current }}
          {{ partial "global-team/table.html" . }}  
        {{ end }}
      </tbody>
    </table>
    
    <div class="container" id="global-team">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {{ range $gt.current }}
          {{ partial "global-team/grid.html" .}}
        {{ end }}
      </div>
    </div>
  </div>
  
  <div class="my-5">
    <h3>Alumni</h3>
    <div class="container" id="global-team-alumni">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {{ range $gt.alumni }}
          {{ partial "global-team/grid.html" .}}
        {{ end }}
      </div>
    </div>
  </div>
</article>
{{ end }}
