/themes/                    @website
/scripts/                   @website
LICENCE.md                  @website
/static/robots.txt          @website
/content/home/news          @global
/themes/hugo-rladies/i18n/ 
