/themes/                    @rladies/website
/scripts/                   @rladies/website
LICENCE.md                  @rladies/website
/static/robots.txt          @rladies/website
/content/news               @rladies/global
