{{- $type := .Get "type" | default "tip" -}}
{{- $title := .Get "title" -}}
{{- $icons := dict
  "tip"     "fa-solid fa-lightbulb"
  "info"    "fa-solid fa-circle-info"
  "warning" "fa-solid fa-triangle-exclamation"
  "danger"  "fa-solid fa-circle-xmark"
  "note"    "fa-solid fa-pen"
-}}
{{- $icon := .Get "icon" | default (index $icons $type) -}}
{{- $defaultTitles := dict
  "tip"     "Tip"
  "info"    "Info"
  "warning" "Warning"
  "danger"  "Danger"
  "note"    "Note"
-}}
{{- if not $title }}{{ $title = index $defaultTitles $type }}{{ end -}}
<div class="callout callout-{{ $type }}" role="note">
  <span class="callout-icon" aria-hidden="true"><i class="{{ $icon }}"></i></span>
  <div class="callout-title">{{ $title }}</div>
  <div class="callout-content">
    {{ .Inner | markdownify }}
  </div>
</div>
