[build]
publish = "/public"
command = "hugo -d public"

[context.production.environment]
  HUGO_VERSION = "0.152.2"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.152.2"