{{ define "main" }}
  </article class="post">
    <div class="container-md pb-5">
      <h1 class="entry-title">
        {{ .Title }}
      </h1>
      {{ .Content }}
    <hr>
  	</div>
      {{ range .Paginator.Pages }}
        <header class="entry-header">
        	<div class="entry-meta">
            {{ partial "dates.html" .}}
        	</div>
        	<div class="container-md my-4" style="padding-bottom: 1em;">
        		<h6>
        		  <a  href="{{ .Params.source }}" rel="bookmark" lang={{ .Params.lnguage }}> {{ .Title }} &nbsp;</a>
        		  {{ with .Resources.Match "*pdf" }}
                	{{ range . }}
          		      <a href="{{ .RelPermalink }}" rel="bookmark" class="text-muted" target="_blank">[pdf]</a>
            	{{ end }}
            {{ end }}
        		</h6>
          </div>
        </header>
      {{ end }}
    	<ul class="pagination d-flex justify-content-center">
        {{ template "_internal/pagination.html" . }}
    	</ul>
  </article>
{{ end }}
