{{ if .IsTranslated }}
  <center>
    <buttonr2 data-toggle="collapse" data-target="#post-translations-{{ .Permalink | relURL | anchorize }}">
    <i class="fas fa-atlas fa-2x"></i>
  </butttonr2>
    <div id="post-translations-{{ .Permalink | relURL | anchorize }}" class="collapse">
      {{ range .Translations }}
        {{ $trans := .Params.translated | default true}}
        {{ if $trans }}
          <div>
            <a href="{{ .Permalink }}">{{ i18n (printf "read_%s" .Lang) }}: {{ .Title }}</a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </center>
{{ end }}