
<title>{{ .Title }}</title>
<link rel="shortcut icon" href="{{ .Site.Params.favicon | relURL }}">

<!-- Bootstrap -->
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'type='text/css'>
<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/rladies.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/syntax_lovelace.css" | relURL }}">


<!-- Custom styles -->	
{{ range .Site.Params.customCSS -}}
  {{ $style := resources.Get . }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen">
{{- end }}

<!-- Share this --> 
{{ if .Site.Params.customsharethis }}
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
{{ end }}
