<link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
<link rel = "stylesheet" href = "https://unpkg.com/leaflet.markercluster@1.4.1/dist//MarkerCluster.css"/>
<link rel = "stylesheet" href = "https://unpkg.com/leaflet.markercluster@1.4.1/dist//MarkerCluster.Default.css"/>

<script src = "https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet-src.min.js"></script>
<script src = "https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

<script type="text/javascript" class="code-js">
     
  const rladiesIcon = new L.divIcon({
    html: '<i class="fa fa-map-marker fa-2x" style="color: #88398ae4; stroke: #5f2760; stroke-width: 1em;"></i>',
    className: 'leaflet-icon-div',
    iconAnchor: [6, 13],
    popupAnchor: [3, -10]
  });
  
  const rladiesRetired = new L.divIcon({
    html: '<i class="fa fa-map-marker fa-2x" style="color: #88398ae4; stroke: #5f2760; stroke-width: 1em;"></i>',
    className: 'leaflet-icon-div',
    iconAnchor: [6, 13],
    popupAnchor: [3, -10]
  });
  
  const rladiesProspective = new L.divIcon({
    html: '<i class="fa fa-map-marker fa-2x" style="color: #398a88e4; stroke: #5f2760; stroke-width: 1em;"></i>',
    className: 'leaflet-icon-div',
    iconAnchor: [6, 13],
    popupAnchor: [3, -10]
  });

</script>
