<!-- Chapter data -->
{{ $merged := (partial "funcs/merge_chapters" .) | transform.Unmarshal }}

{{ $countries := slice }}
{{ $.Scratch.Set "chpt_active" (slice) }}

{{ range $index, $chapterMap := $merged }}
  {{ if in (printf "%T" $chapterMap) "[]interface" }}
    {{ $chapterMap = index $chapterMap 0 }}
  {{ end }}

  {{ with (index $chapterMap "country") }}
    {{ $countries = $countries | append . }}
  {{ end }}

  {{ if eq (index $chapterMap "status") "active" }}
    {{ $.Scratch.Add "chpt_active" $chapterMap }}
  {{ end }}
{{ end }}

{{ $countries = $countries | uniq | sort }}
{{ $chapters_active := $.Scratch.Get "chpt_active" }}

<!-- range again to create count chapters per country -->
{{ .Scratch.Set "chpt_countries" (slice) }}
{{ range $countries }}
  {{ $arr := where $chapters_active "country" .}}
  {{ $count := $arr | len }}
  <!-- Get ISO code for country -->
  {{ $iso := "" }}
  {{ with index $arr 0 }}
    {{ $iso = .country_iso }}
  {{ end }}
  {{ if eq . "USA" }}
    {{ $iso = "US" }}
  {{ end }}
  <!-- only add countries with chapters, and not remote chapter -->
  {{ if and (gt $count 0) (ne . "Worldwide") }}
    {{ $.Scratch.Add "chpt_countries" (dict "name" . "count" $count "iso" $iso) }}  
  {{ end }}

{{ end }}


<!-- Events -->
<!-- Fetch events data from meetup_archive JSON file and store in Scratch -->
{{ $url := "https://raw.githubusercontent.com/rladies/meetup_archive/refs/heads/main/data/events.json" }}
{{ with try (resources.GetRemote $url) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $.Scratch.Set "events" (.Value | transform.Unmarshal) }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}
