{{ define "main" }}
  <header class="entry-header">
   	<h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
  </header>
  
  <p>{{ .Content }}</p>
  
  <table class="table" style="width: auto !important; margin-left: auto; margin-right: auto;">
    <thead>
      <tr>
        <th style="text-align:right;"> name </th>
        <th style="text-align:left;"> role </th>
      </tr>
    </thead>
    <tbody>
      {{ $url := "https://raw.githubusercontent.com/Athanasiamo/starter-kit/master/jsons/global-team.json" }}
      {{ $leadership := getJSON $url }}
      {{ range $leadership | shuffle}}
      <tr>
        <td style="text-align:right;font-weight: bold;" rowspan="{{ len .role }}"> {{ .name }} </td>
       
        {{ range .role }}
           <td style="text-align:left;vertical-align: top !important;"> {{ . }} </td> 
           </tr>
         {{ end }}
       {{ end }}
    </tbody>
  </table>
  
  <div class="container" id="global-team">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {{ range $leadership | shuffle }}    
          <div class="card mx-auto m-1">
            <div class="embed-responsive embed-responsive-4by3">
              <img class="card-img-top embed-responsive-item" src="img/{{ .img | default "placeholder.png" }}" alt="{{ .name }} - {{ delimit .role ", " }}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ .name }}</h5>
              <p class="card-text">{{ delimit .role ", " }}</p>
            </div>
          </div>
        {{ end }}
    </div>
  </div>
  
{{ end }}
