html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 55px;
    flex: 1 0 auto;
    max-width: 1024px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

.copyright.text-muted {
    font-size: 10px;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* list site */

.list {
    width: 80%;
}

.list__title {
    float: left;
    left: 0;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 50px 0;
}

.item h3 {
    font-weight: bold;
    font-size: 30px;
}

.item h3 a {
    color: #562457;
}

.item h5 {
    color: #D3D3D3;
}

.item-tag {
    background-color: var(--accent);
}

.post__main-text {
    font-size: 16px;
    line-height: 1.5em;
}

.post__main-text p {
  margin: 0 0 1.4em;
}

/*blog post*/
@media only screen and (min-width: 1024px) {
    .post__main-text {
        font-size: 18px;
        line-height: 1.8em;
    }
}


/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

.navbar-default .navbar-nav>li>a {
    color: #562457 !important;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

.figure img {
    display: block;
    margin: 0 auto;
}

.figure {
    text-align: center;
    font-size: 0.9em;
    margin: 4em 1em;
}
