<div class="post-card">
  <div class="post-img">
    <div class="date">
      <div class="day">15</div>
      <div class="month">Aug</div>
    </div>
    <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fae278c7b8eeffec370bda6e42f5a827" />
  </div>
  <div class="post-content">
    <div class="category">Photos</div>
    <h1 class="title">India</h1>
    <h2 class="sub_title">An upcoming superpower</h2>
    <p class="description">India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.</p>
    <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
  </div>
</div>
    