{{ $countries := $.Scratch.Get "chpt_countries" }}
{{ $chapters  := $.Scratch.Get "chpt_active" }}

{{ with .Site.GetPage "section" "chapters" }}

  <div class="container row justify-content-center section topspace">
    <h2 class="section-title"><span>{{ .Title | title }}</span></h2>
    <small class="text-muted text-center">{{ .Content }}</small>

    {{ $points := slice }}
    {{ range  $chapters }}
      {{ $points = $points | append (dict
        "name" .name
        "members" .members
        "latitude" .lat
        "longitude" .lon
      )}}
    {{ end }}
    {{ $data := (dict
      "points" $points
      "tooltip" "<b>{name}</b><br><i class='fa fa-users'></i>&emsp;{members}"
      "radius" 4
      "color" "#88398acc"
    ) }}
    
      {{ partial "map.html" (dict "id" "chapter_map" "height" "500px" "data" $data) }}

    <div id="chapter-table" class="collapse col-auto m-2">
      <table class="table table-hover table-responsive chp-table">
      <thead>
        <tr>
          <th class="text-right b-rladies b-rladies-r"> {{ i18n "country"  | markdownify | title }} </th>
          <th class="text-left"> {{ i18n "city" | markdownify | title }} </th>
          <th class="text-right"> {{ i18n "social_media" | markdownify }} </th>
        </tr>
      </thead>
      <tbody>
        {{ range $k, $c := $countries }}
          <tr>
            <td class="text-right text-bold b-rladies-r" rowspan = "{{ $c.count }}"> {{ $c.name | title }} </td>

                {{ range where $chapters "country" $c.name }}
            <td class="text-left"> <a href="http://meetup.com/{{ .social_media.meetup }}">{{ .name | title }}</a> </td>
              
              <td class="text-right"> 
                {{ with .social_media }}
                    {{ partial "social_media.html" (dict "data" . "relme" true) }}
                {{ end }}
              </td>
                </tr>
                {{ end }}  
          </tr>
        {{ end }}
      </tbody>
    </table>
       </div>
  </div>

 </div>

 {{ end }}
 