{{ $countries := where ($.Scratch.Get "chpt_countries") "n" "gt" 0 }}
{{ $chapters := where .Site.Data.chapters_meetup "status" "active" }}

  {{ with .Site.GetPage "section" "chapters" }}

<div class="container row justify-content-center section topspace">
  <h2 class="section-title"><span>{{ .Title }}</span></h2>
  <small class="text-muted text-center">{{ .Content }}</small>
  <button type="button" class="btn btn-primary p-2 m-2 center" data-toggle="collapse" data-target="#chapter-table">{{ .Params.button }}</button>
  
  <div class="row justify-content-center">

    <div id="chapter-table" class="collapse col-auto m-2">
      <table class="table table-hover table-responsive chp-table">
      <thead>
        <tr>
          <th class="text-right b-rladies b-rladies-r"> {{ i18n "country"  | markdownify}} </th>
          <th class="text-left"> {{ i18n "city" | markdownify}} </th>
          <th class="text-right"> {{ i18n "social_media"  | markdownify}} </th>
        </tr>
      </thead>
      <tbody>
        {{ range $countries }}
          <tr>
            <td class="text-right text-bold b-rladies-r" rowspan = "{{ .n }}"> {{ .country }} </td>
                {{ range where $chapters "country" .country }}
            <td class="text-left"> <a href="http://meetup.com/{{ .social_media.meetup }}">{{ .name }}</a> </td>
              
              <td class="text-right"> 
                {{ with .social_media }}
                    {{ partial "some.html" (dict "data" . "relme" true) }}
                {{ end }}
              </td>
                </tr>
                {{ end }}  
          </tr>
        {{ end }}
      </tbody>
    </table>
       </div>
  </div>
  <div id="chartdiv"></div>

 </div>

 {{ end }}
 
<!-- amcharts --> 
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
<script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  am4core.ready(function() {
    
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
    
    // Create map instance
    var chart = am4core.create("chartdiv", am4maps.MapChart);
    
    // Set map definition
    chart.geodata = am4geodata_worldLow;
    
    // Set projection
    chart.projection = new am4maps.projections.Miller();
    
    // Create map polygon series
    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
    
    // Exclude Antartica
    polygonSeries.exclude = ["AQ"];
    
    // Make map load polygon (like country names) data from GeoJSON
    polygonSeries.useGeodata = true;
    
    // Configure series
    var polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}";
    polygonTemplate.polygon.fillOpacity = 0.6;
    
    // Create hover state and set alternative fill color
    var hs = polygonTemplate.states.create("hover");
    hs.properties.fill = am4core.color("#88398a");
    
    // Add image series
    var imageSeries = chart.series.push(new am4maps.MapImageSeries());
    imageSeries.mapImages.template.propertyFields.longitude = "longitude";
    imageSeries.mapImages.template.propertyFields.latitude = "latitude";
    imageSeries.mapImages.template.tooltipHTML = "<b>{name}</b><br><i class='fa fa-users'></i>&emsp;{members}<br>{socials}";
    imageSeries.mapImages.template.propertyFields.url = "url";

    imageSeries.tooltip.background.fillOpacity = 0.7;
    imageSeries.tooltip.background.fill = am4core.color("#fff");
    imageSeries.tooltip.label.interactionsEnabled = true;
    imageSeries.tooltip.keepTargetHover = true;
    
    var circle = imageSeries.mapImages.template.createChild(am4core.Circle);
    circle.radius = 4;
    circle.propertyFields.fill = "color"
    circle.nonScaling = "true"; 
    
    var colorSet = new am4core.ColorSet();
    
    imageSeries.data = [ 
    {{ range where $chapters "members" "gt" 0 }}
      {
        "name": "{{ .name }}",
        "members": "{{ .members }}",
        "socials": {{ with .social_media }}{{ partial "some.html" . }}{{ end }},
        "latitude": {{ .lat }},
        "longitude": {{ .lon }},
        "color": "#88398acc"
      },
    {{ end }}
    ];
  }); // end am4core.ready()
</script>

  