{{ $countries := where ($.Scratch.Get "chpt_countries") "n" "gt" 1 }}
{{ $chapters := where .Site.Data.chapters_meetup "status" "active" }}
{{ $events := where .Site.Data.meetup.events "type" "PAST" }}

<!-- Start Counter Section -->
<div id="counters" class="row justify-content-center section topspace">
    <h2 class="section-title"><span>Our activity</span></h2>
	<div class="col-sm-5 col-md-4 text-center fadeInUp" data-wow-duration="500ms">
  	<div class="block">
  		<div class="icon-box">
  			<h3>{{ i18n "counter_countries" | markdownify }}</h3>
  			<i class="fa-solid fa-globe"></i>
  			<p class="count" data-count="{{ $countries | len}}">0</p>
  		</div>
		</div>
	</div>
  	
	<div class="col-sm-5 col-md-4 text-center fadeInUp" data-wow-duration="500ms">
  	<div class="block">
  		<div class="icon-box">
			<h3>{{ i18n "counter_chapters" | markdownify }}</h3>
			  <i class="fa-solid fa-map-location-dot"></i>
  			<p class="count" data-count="{{ $chapters | len }}">0</p>
  		</div>
		</div>
	</div>

	<div class="col-sm-5 col-md-4 text-center fadeInUp" data-wow-duration="500ms">
  	<div class="block">
  		<div class="icon-box">
			  <h3>{{ i18n "counter_events" | markdownify }}</h3>
			  <i class="fa-solid fa-calendar-days"></i>
  			<p class="count" data-count="{{ $events | len }}">0</p>
  		</div>
  	</div>
  </div>	
</div>
