
{{ with .Site.GetPage "section" "donors" }}
  <div id="{{ .Title }}" class="row section topspace">
  <h2 class="section-title"><span>{{.Title}}</span></h2>
  <div class="container" id="{{.Title}}-cards">
    <div class="card border-0">
      {{ range .Pages }}
        <div class="card card-service mx-auto m-1 p-4 border-0">
          <a href="{{ .Params.source }}" title="{{.Title}}">
            <img class="card-img-top obj-fit-contain" {{ range first 1 (.Resources.ByType "image") }}src="{{ .RelPermalink }}"{{ end }} alt="{{ .Title }}">
          </a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}


{{ $directory := where .Site.RegularPages "Section" "directory" }}

<div class="container expand-grid section topspace" id="feed">
  <h2 class="section-title"><span>{{ i18n "home_featured" }}</span></h2>
  <ul class="justify-content-center full-width row row-xl-2 row-lg-3 row-md-4 row-sm-6 row-9">
    {{ range $name := first 3 $directory | shuffle }}
      {{ partial "funcs/directory/card.html" (dict "data" . "name" $name "size" "large") }}
    {{ end }}
  </ul>
</div>


