
  {{ range first 1 (where .Data.Pages "Section" .Section) }}
<header class="entry-header">
	<div class="entry-meta">
    {{ partial "dates.html" .}}
	</div>
	<div class="container-md my-4" style="padding-bottom: 1em;">
		<h6>
		  <a  href="{{ .Params.source }}" rel="bookmark" lang={{ .Params.lnguage }}> {{ .Title }} &nbsp;</a>
		  {{ with .Resources.Match "*pdf" }}
        	{{ range . }}
  		      <a href="{{ .RelPermalink }}" rel="bookmark" class="text-muted" target="_blank">[pdf]</a>
    	{{ end }}
    {{ end }}
		</h6>
  </div>
</header>
  {{ end }}
