{{ .Scratch.Set "rblogs"     $.Site.Data.rblogs  }}
{{ .Scratch.Set "mentoring"  $.Site.Data.mentoring }}
{{ .Scratch.Set "globalteam" $.Site.Data.global_team }}

<!-- 
Create an array that we can use to shuffle
the data entries on every build.
-->
{{ $.Scratch.Set "ment" (slice) }}
{{ range $name, $_ := ( .Scratch.Get "mentoring" ) }}
    {{ $.Scratch.Add "ment" $name }}
{{ end }}

{{ $.Scratch.Set "gt" (slice) }}
{{ range $name, $_ := ( .Scratch.Get "globalteam" ) }}
    {{ $.Scratch.Add "gt" $name }}
{{ end }}

{{ $.Scratch.Set "rb" (slice) }}
{{ range $name, $_ := ( .Scratch.Get "rblogs" ) }}
    {{ $.Scratch.Add "rb" $name }}
{{ end }}


<!-- Chapter data -->
{{ $.Scratch.Set "chpt_actives" (slice "") }}
{{ $chapters := where .Site.Data.chapters_meetup "status" "active" }}
{{ $.Scratch.Set "n" (len $chapters) }}
{{ range $chapters }}
  {{ $.Scratch.Add "chpt_actives" (slice .country) }}
{{ end }}

{{ $.Scratch.Set "chpt_countries" slice }}
{{ range ($.Scratch.Get "chpt_actives" | uniq ) }}
  {{ $.Scratch.Add "chpt_countries" (dict "country" . "n" (where $chapters "country" . | len) )  }}
{{ end }}
