<!-- Fullcalendar js-->  
<script type="text/javascript" src="{{ "js/fullcalendar.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/jquery.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/moment.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/moment-with-locales.min.js" | relURL }}" ></script>
<script type="text/javascript" src="{{ "js/moment-timezone-with-data.js" | relURL }}" ></script>
<script type="text/javascript" src="{{ "js/popper.min.js" | relURL }}" ></script>
<script type="text/javascript" src="{{ "js/tooltip.min.js" | relURL }}" ></script>