<link href="{{ "css/main.min.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/cal.css"  | relURL }} "rel="stylesheet">
<!-- Fullcalendar js-->  
<script type="text/javascript" async src="{{ "js/main.min.js" | relURL }}"></script>
<script type="text/javascript" async src="{{ "js/jquery.min.js" | relURL }}"></script>
<script type="text/javascript" async src="{{ "js/moment.min.js" | relURL }}"></script>

<script type="text/javascript" src="{{ "js/moment-with-locales.min.js" | relURL }}" ></script>
<script type="text/javascript" src="{{ "js/moment-timezone-with-data.js" | relURL }}" ></script>
<script type="text/javascript" src="{{ "js/popper.min.js" | relURL }}" ></script>
<script type="text/javascript" src="{{ "js/tooltip.min.js" | relURL }}" ></script>