
<title>{{ .Title }}</title>
<link rel="shortcut icon" href="{{ .Site.Params.favicon | relURL }}">

<!-- Icons -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

{{ $css := slice
    (resources.Get "css/fullcalendar.min.css")
    (resources.Get "css/bootstrap-multiselect.min.css")
    (resources.Get "style.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS)
  | resources.Concat "css/bundle.min.css"
  | minify
  | fingerprint
}}

<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" media="screen">



<!-- site data -->
{{ partial "head/data.html" . }}

<!-- plausible -->
<script defer data-domain="rladies.org" src="https://plausible.io/js/script.js"></script>
