
<title>{{ .Title }}</title>
<link rel="shortcut icon" href="{{ .Site.Params.favicon | relURL }}">

<!-- Icons -->
<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">

<!-- website css -->
{{ $styles := resources.Get "style.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

<!-- site data -->
{{ partial "head/data.html" . }}
