{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<div class="row topspace">

			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="nav text-right nav-side">
					<li class="active"><a href="#">{{ .Title }}</a></li>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<div class="row section recentworks topspace">
				{{ $country := .Params.data}}
				<div class="thumbnails recentworks">
					{{ range $index, $area := .Site.Data.directory }}
						{{ if eq .country $country}}
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<a class="thumbnail" href="{{ .url }}">
									<span class="img">
										<img src="{{ .image }}" alt="">
										<span class="cover"><span class="more">See details &rarr;</span></span>
									</span>
									<span class="title">{{ .name }}</span>
								</a>
								<span class="details">
									{{ $len := sub (len .items) 1 }}
									{{ range $i, $item := where .items "id" .city }}
										<a href="{{ .url }}">{{ .name }}</a>
										{{ if gt $len $i }} | {{ end }}
									{{ end }}
								</span>
							</div>
						{{ end }}
					{{ end }}
				</div>

			
			</div> <!-- /section -->
			
			<!-- /Article -->


		</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}