  <li class="card mx-auto mt-1 b-rladies card-directory" id="{{ .name | safeJS }}">
    <div class="embed-responsive embed-responsive-4by3">
      <img class="card-img-top embed-responsive-item" src="{{ .photo_url | default "/images/placeholder_user.png"}}" alt="{{ .name }} - {{with .honorific }}{{ . }}{{ end }}{{with .pronouns }}{{ . }}{{ end }}">
    </div>
    <div class="card-body">
      <a href="#{{ .name | safeJS }}"><h3 class="card-title name">{{ .name }}</h3></a>
      <p class="honorific card-directory-text">
        {{with .honorific }}<i>{{ . }}</i>{{ end }}&emsp;{{with .pronouns }}{{ . }}{{ end }}
      </p>
      <h3 class="card-title">
        {{ range .social_media }}
          {{ partial "some.html" . }}
        {{ end }}
      </h3>
      <p class="card-directory-text ">
        {{ .title }}{{ with .organization }}&nbsp; - &nbsp;{{ . }}{{ end }}
      </p>
      <p>
        <b>Contact through:</b> {{ delimit .contact_method ", " | default "Not disclosed" }}<br>
      </p>
      {{if gt (len .location) 1 }}
        <p class="card-directory-text">
          <i class="fas fa-map-marker-alt"></i> 
          <span class="r_groups">
            {{ range .location }}
              {{ .city }}, {{ with .state }} {{.}}, {{end}} {{ .country }}
            {{ end }}
          </span>
        </p>
      {{ end }}
      {{ with .interests }}
        <p class="card-directory-text">
          <b><i class="fas fa-tag" style = "font-size: 15px;"></i>&nbsp;</b>
          <span class="interests">{{ delimit . ", " }}</span>
        </p>
      {{ end }}
      {{ range .activities }}
          {{ partial "directory/activities.html" . }}
      {{ end }}
   </div>
   <div class="card-footer">
    <small>Last updated: {{ .last_updated | default "Unknown"}}</small>
  </div>
</li>
