
{{ define "main"}}
		<p>{{ .Content }}</p>
    {{ with .Params.tags -}}
    
      <div class="post-tags my-2">
        {{ i18n "tags"}}:
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
        <a href="{{ .Permalink }}">{{ $name }}</a>
        {{ end -}}
        {{ end }}
      </div>
    {{- end }}

    <!-- Author Info -->
     <div class="my-2">
       {{ $type := (printf "%T" .Params.author) }}
      
      {{ if eq $type "string" }}
         {{ i18n "author" }}: {{ .Params.author | markdownify }}
      {{ else }}
        {{ with .Params.author }}
          {{ i18n "authors" }}: 
          {{ range . }}
            <li>{{. | markdownify }}</li>
          {{ end }}
        {{end}}
      {{ end }}

    </div>

    <div class="my-2">
      <p class="text-muted">
      {{ i18n "last_edit"}} {{ .Lastmod.Day }} {{ index .Site.Data.months .Lang (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}.
      </p>
    </div>
      <!-- Post Pagination -->
    <div class="row">
        <div class="col-md-6 text-align-left">
          {{ with .NextInSection }}
            <a class="prev" href="{{ .RelPermalink }}">
              <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
              <b><span class="prev-text nav-mobile">{{ i18n "prev" }}</span></b>
              <br>
              <span class="prev-text nav-default">{{ .Title }}</span>
            </a>
          {{- end }}
        </div>

        <div class="col-md-6 text-align-righ">
          {{ with .PrevInSection }}
            <a class="next" href="{{ .RelPermalink }}">
              <b><span class="prev-text nav-mobile">{{ i18n "next" }}</span></b>
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
              <br>
              <span class="next-text nav-default">{{ .Title }}</span>
            </a>
          {{- end }}
        </div>
    </div>
{{- end }}
