
{{ define "main"}}
		<p>{{ .Content }}</p>

    {{ with .Params.tags -}}
      <div class="post-tags">
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
        <a href="{{ .Permalink }}">{{ $name }}</a>
        {{ end -}}
        {{ end }}
      </div>
    {{- end }}
    <br>


    <!-- Author Info -->
    {{ if and (.Params.author | default .Site.Author.name) (.Params.showAuthorInfo | default .Site.Params.showAuthorInfo) }}
    {{ partial "author_info.html" (dict "author" (.Params.author | default .Site.Author.name) "context" $) }}
    {{ end }}
    
    <div>
      <p class="text-muted">
      {{ i18n "last_edit"}} {{ .Lastmod.Day }} {{ index .Site.Data.months .Lang (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }} {{ i18n "last_message"}} 
      {{- if $.GitInfo -}}
        <i>"{{ .GitInfo.Subject }}"</i>
      {{- end -}}
      </p>
    </div>
      <!-- Post Pagination -->
    <div class="row">
        <div class="col-md-6 text-align-left">
          {{ with .NextInSection }}
            <a class="prev" href="{{ .RelPermalink }}">
              <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
              <b><span class="prev-text nav-mobile">{{ i18n "prev" }}</span></b>
              <br>
              <span class="prev-text nav-default">{{ .Title }}</span>
            </a>
          {{- end }}
        </div>

        <div class="col-md-6 text-align-righ">
          {{ with .PrevInSection }}
            <a class="next" href="{{ .RelPermalink }}">
              <b><span class="prev-text nav-mobile">{{ i18n "next" }}</span></b>
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
              <br>
              <span class="next-text nav-default">{{ .Title }}</span>
            </a>
          {{- end }}
        </div>
    </div>
{{- end }}
