{{ define "main" }}
<section class="site-section-lg">
  <div class="site-container">
    {{ with .Content }}
      <div class="max-w-3xl mx-auto mb-12 entry-content">
        {{ . }}
      </div>
    {{ end }}

    <div class="max-w-4xl mx-auto space-y-8">
      {{ range $i, $p := .Paginator.Pages }}
        {{ partial "post/summary.html" (dict "entry" $p "position" $i) }}
      {{ end }}
    </div>

    {{ partial "pagination.html" (dict "paginator" .Paginator) }}
  </div>
</section>
{{ end }}
