<nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">
        <div class="nav navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                {{ range .Site.Menus.main }} 
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ .Name }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{ range .Children }}
                                    <li><a class="dropdown-item" href="{{ .URL | absLangURL }}"> {{ .Name }} </a></li>
                                {{ end }}
                            </ul>

                    {{ else }}
                        <li class="nav-item">
                            <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                        </li>
                    {{ end }} 
                {{end}}

            </ul>

        </div> 
        <!--/.nav-collapse -->
    </div>
</nav>
