
<div id = "chapter_map" style = "width: 100%; height: 580px"></div>
  <script type="text/javascript" class="code-js">
   // Creating map options
   var mapOptions = {
      center: [30, 0],
      zoom: 2
   }
   
   // Creating a map object
   var chapter_map = new L.map('chapter_map', mapOptions);
   
   // Creating a Layer object
   var layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
   
   // Adding layer to the map
   chapter_map.addLayer(layer);
   
   var markers = L.markerClusterGroup();
   
   {{ range .Site.Data.chapters }}
      {{ range where .chapters "status" "active"}}
         var marker = L.marker([ {{ .lat }}, {{ .lon }}], 
            {icon: rladiesIcon});
         marker.bindPopup("<h4>{{ .name }}</h4><br><p style='font-size: 20px;'><i class='fa fa-users'></i>&emsp;{{ .members }}<br>{{ with .social_media }}{{ range . }}{{ partial "some.html" . }}{{ end }}{{ end }}</h5>");
         markers.addLayer(marker);
      {{ end }}
   {{ end }}
   
   chapter_map.addLayer(markers);

</script>

<br>
<center>
  <buttonr data-toggle="collapse" data-target="#chapter-table">Click for table of currently active R-Ladies chapters</buttonr>
  </center>
  <br>
  <div id="chapter-table" class="collapse">
    <table class="table table-hover table-responsive" style="width: auto !important; margin-left: auto; margin-right: auto;">
    <thead>
      <tr>
        <th style="text-align:right;border-right: 1px solid;"> Country </th>
        <th style="text-align:left;"> City </th>
        <th style="text-align:right;"> Social Media </th>
      </tr>
    </thead>
    <tbody>
      {{ range .Site.Data.chapters }}
      <tr>
         <td style="text-align:right;font-weight: bold;border-right: 1px solid;" rowspan = "{{ len .chapters }}"> {{ .country}} </td>
         
      {{ range .chapters }}
              <td style="text-align:left;"> <a href="http://meetup.com/{{ .meetup }}">{{ .name }}</a> </td>
              
              <td style="text-align:right;"> 
                 {{ with .social_media }}
                   {{ range . }}
                     {{ partial "some.html" . }}
                   {{ end }}
                 {{ end }}
                </td>
        </tr>
           {{ end }}
    
        {{ end }}
    </tbody>
  </table>
  </div>
  <br>
  <p>If you are interested in starting an R-Ladies meetup group in your city, or would like more information about starting a meetup group, reach out at <b>info</b>[at]<b>rladies</b>[dot]<b>org</b></p>
