<nav class="navbar navbar-expand-sm sticky-top border-bottom m-1 p-1">

  <div class="nav-brand order-md-1 d-sm-none position-relative">
    <img src="{{ .Site.BaseURL }}/images/logo-wide.png" height="30px">
  </div>
  
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars hamburger mt-2"></i> 
      </span>
  </button>

        
  <!-- Navbar links -->
  <div class="collapse navbar-collapse navbar-inner" id="collapsibleNavbar">
    <ul class="navbar-nav">
        {{ range .Site.Menus.main }} 
            {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ .Name | safeHTML }} <span class="caret"></span>
                    </a>

                   <div class="dropdown-menu">
                        {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | relLangURL }}"> {{ .Name | safeHTML }} </a>
                        {{ end }}
                    </div>
                </li>
            {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{  .URL | relLangURL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
                </li>
            {{ end }} 
        {{ end }}
    </ul>
  </div>
</nav>

