<nav class="navbar navbar-expand-sm sticky-top border-bottom m-1 p-1">

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon my-1">
      <i class="fas fa-bars hamburger"></i> 
      </span>
  </button>
  <div class="nav-brand mx-lg-auto order-md-1 d-sm-none position-relative">
    <img src="{{ .Site.BaseURL }}/images/logo-wide.png" height="30px">
  </div>
        
  <!-- Navbar links -->
  <div class="collapse navbar-collapse navbar-inner" id="collapsibleNavbar">
    <ul class="navbar-nav">
        {{ range .Site.Menus.main }} 
            {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ .Name }} <span class="caret"></span>
                    </a>
                   <div class="dropdown-menu">
                        {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | relLangURL }}"> {{ .Name }} </a>
                        {{ end }}
                    </div>
                </li>
            {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{  .URL | relLangURL }}">{{ .Name }}</a>
                </li>
            {{ end }} 
        {{ end }}
    </ul>
  </div>
</nav>

