{{ define "main" }}

  {{ $ment := (slice) }}
  {{ range $name, $_ := $.Site.Data.mentoring }}
    {{ $ment = $ment | append $name }}
  {{ end }}

  {{ $data := newScratch }}

  <div class="entry-content">
	  {{ .Content }}
  </div>

  <div class="container expand-grid my-4" id="mentoring-list">
    <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 shuffle-wrapper w-100 list-unstyled" id="mentoring-grid">
      {{ range .Pages }}
        
        {{ $data.Set "content" "" }}
        {{ with .Summary }} 
          {{ $data.Set "content" "<blockquote>" }}
          {{ $data.Add "content" . }}
          {{ $data.Add "content" "</blockquote>" }}
        {{ end }}

        {{ with .Params.article }}
          {{ $data.Add "content" (partial "funcs/read_more.html" . ) }}
        {{ end }}
        	  
        {{ with .Params.mentee }}
          {{ $data.Set "foot" (printf "<p>Mentee: %s</p>" . ) }}
        {{ end }}
        {{ with .Params.mentor }}
          {{ $data.Add "foot" (printf "<p>Mentor: %s</p>" . ) }}
        {{ end }}
        
        {{ $data.Set "img" "" }}
        {{ with .Resources.GetMatch .Params.image.path }}
          {{ $img := . }}
          {{ $img := $img.Fit "400x800" }}
          {{ $data.Set "img" $img.RelPermalink }}
        {{ end }}

        {{ partial "funcs/card-expand.html" (dict "title" .Title "img" ($data.Get "img") "size" "large" "url" .Params.article "descr" .Summary "anim" false "foot" ( $data.Get "foot") "footcol" 2 )}}
      {{ end }}
    </ul>
  </div>
{{ end }}