{{ define "main" }}
  {{ $data := newScratch }}

	{{ .Content }}
  <div class="container expand-grid" id="rladies-blogs">
    <ul class="justify-content-center full-width row row-xl-2 row-lg-3 row-md-4 row-sm-6 row-9">
      {{ range .Pages }}
        
        {{ $data.Set "content" "" }}
        {{ with .Summary }} 
          {{ $data.Set "content" "<blockquote>" }}
          {{ $data.Add "content" . }}
          {{ $data.Add "content" "</blockquote>" }}
        {{ end }}

        {{ with .Params.article }}
          {{ $data.Add "content" (partial "funcs/read_more.html" . ) }}
        {{ end }}
        	  
        {{ with .Params.mentee }}
          {{ $data.Set "foot" (printf "<p>Mentee: %s</p>" . ) }}
        {{ end }}
        {{ with .Params.mentor }}
          {{ $data.Add "foot" (printf "<p>Mentor: %s</p>" . ) }}
        {{ end }}
        
        {{ $data.Set "img" "" }}
        {{ with .Resources.GetMatch .Params.image.path }}
          {{ $img := . }}
          {{ $img := $img.Fit "400x800" }}
          {{ $data.Set "img" $img.RelPermalink }}
        {{ end }}

        {{ partial "funcs/card-expand.html" (dict "title" .Title "img" ($data.Get "img") "size" "wide" "descr" ($data.Get "content")  "anim" false "foot" ( $data.Get "foot") "footcol" 2 )}}
      {{ end }}
    </ul>
  </div>
{{ end }}


