{{ define "main" }}
  {{ $data := newScratch }}

	{{ .Content }}
  <div class="container expand-grid" id="rladies-blogs">
    <ul class="justify-content-center full-width row row-xl-2 row-lg-3 row-md-4 row-sm-6 row-9">
      {{ $mentoring := ( .Scratch.Get "mentoring" ) }}
      {{ range $name := $.Scratch.Get "ment" | shuffle }}
        {{ $m := index $mentoring $name }}
        
        {{ $data.Set "content" "" }}
        {{ with $m.statement }} 
          {{ $data.Set "content" "<blockquote>" }}
          {{ $data.Add "content" . }}
          {{ $data.Add "content" "</blockquote>" }}
        {{ end }}
        {{ with $m.url }}
          {{ $data.Add "content" (partial "funcs/read_more.html" . ) }}
        {{ end }}
        	  
        {{ with $m.mentee }}
          {{ $data.Set "foot" (printf "<p>Mentee: %s</p>" . ) }}
        {{ end }}
        {{ with $m.mentor }}
          {{ $data.Add "foot" (printf "<p>Mentor: %s</p>" . ) }}
        {{ end }}
        
        {{ $data.Set "img" "" }}
        {{ with resources.GetMatch (printf "mentoring/%s" $m.img ) }}
          {{ $img := . }}
          {{ $img := $img.Fit "400x800" }}
          {{ $data.Set "img" $img.Permalink }}
        {{ end }}

        {{ partial "funcs/card-expand.html" (dict "title" $m.chapter "img" ($data.Get "img") "size" "wide" "descr" ($data.Get "content") "category" $m.year "anim" false "foot" ( $data.Get "foot") "footcol" 2 )}}
      {{ end }}
    </ul>
  </div>
{{ end }}


