<!DOCTYPE html>
<html>
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/head.html" . }}

    {{ block "head" .}}
      <!-- for extra header scripts etc -->
    {{ end }}
    
  </head>
  
  <body>

    {{ partial "hero.html" . }}
    
    <main id="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-8 col-sm-offset-2">
            {{ block "missing_translation" . }}
              {{ partial "missing_translation" . }}
            {{ end }}
        
            {{ block "main" . }}
            {{ end }}
        
            {{ block "languages" . }}
              {{ partial "post/i18n.html" .}}
            {{ end }}
    	    </div>
    		</div> <!-- /row post  -->
    	</div>	<!-- /container -->
    </main>
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>
