<!DOCTYPE html>
<html>
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/head.html" . }}

    {{ block "head" .}}
      <!-- for extra header scripts etc -->
    {{ end }}
    
  </head>
  
  <body>

    {{ partial "hero.html" . }}

    <main id="main">
      <div class="container">
        <div class="row section">
          {{ block "main" . }}
          {{ end }}
        </div>
    	</div>	<!-- /container -->
    </main>
  
    {{ block "languages" . }}
      {{ partial "post/i18n.html"}}
    {{ end }}
    
    {{ partial "footer/footer.html" . }}
    {{ block "footer" . }}
      
    {{ end }}
  </body>
  
</html>
