
{{ define "main" }}
<!-- Selects -->
{{ $directory := ( .RegularPages ) }}
{{ $ints := slice }}
{{ $langs := slice }}
{{ $loc := slice }}
{{ $countries := slice }}

{{ range $directory }}
  {{ with .Params.interests }}
      {{ $ints = $ints | append  . }}
    {{ end }}
    
    {{ with .Params.languages }}
      {{ $langs = $langs | append  . }}
    {{ end }}
    
    {{ with .Params.location }}
      {{ $tmp := newScratch }}
      {{ with .country }}
        {{ $tmp.Set "loc" . }}
        {{ $countries = $countries | append  . }}
      {{ end }}
      
      {{ with .state }}
        {{ $tmp.Add "loc" ( . | printf ", %s") }}
      {{ end }}
      
      {{ with .city }}
        {{ $tmp.Add "loc" ( . | printf ", %s") }}
      {{ end }}
      
      {{ $loc = $loc | append  ($tmp.Get "loc") }}
  {{ end }}
{{ end }}
{{ $ints := $ints | uniq | sort }}
{{ $langs := $langs | uniq | sort }}
{{ $loc := $loc | uniq | sort }}
{{ $countries := $countries | uniq | sort }}
<!-- -->

  <div class="entry-content">
		{{ .Content }}
	</div>
  <div id="counters" class="row justify-content-center section topspace">
  	<div class="col-sm-5 col-md-4 text-center fadeInUp" data-wow-duration="500ms">
    	<div class="block">
    		<div class="icon-box">
    			<h3>{{ i18n "counter_entries" | markdownify }}</h3>
    			<i class="fa-solid fa-user"></i>
    			<p class="count" data-count="{{ $directory | len }}">0</p>
    		</div>
  		</div>
  	</div>
  </div>
  <div class="flex-container" id="directory-content">
    <div id="selection">
      
      <div class="input-group w-100">
        <div class="input-group-prepend" for="filter-interests">
          <label class="input-group-text" style="min-width:120px;" >Interests</label>
        </div>
        <select class="custom-select" id="filter-interests" multiple data-group="interests">
          {{ range $ints }}
            <option value="{{. | urlize }}" >{{.}}</option>
          {{ end }}
        </select>
      </div>
              
      <div class="input-group">
        <div class="input-group-prepend" for="filter-languages">
          <label class="input-group-text" style="min-width:120px;" >Languages</label>
        </div>
        <select class="custom-select" id="filter-languages" multiple data-group="languages">
          {{ range $langs }}
              <option value="{{. | urlize }}" >{{.}}</option>
          {{ end }}
        </select>
      </div>
                      
      <div class="input-group">
        <div class="input-group-prepend" for="filter-location">
          <label class="input-group-text" style="min-width:120px;" >Location</label>
        </div>
        <select class="custom-select" id="filter-location" multiple data-group="location">
          {{ range $countries }}
            {{ $c := . }}
            <optgroup label="{{$c}}" class="{{$c}}">
            {{ range $loc }}
              {{ $l := findRE (printf "^%s" $c) . }}
              {{ if gt (len $l) 0 }}
                <option value="{{ . | htmlUnescape | urlize }}" >{{ replaceRE (printf "%s, " $c) "" . }}</option>
              {{ end }}
            {{ end }}
            </optgroup>
          {{ end }}
        </select>
      </div>
    </div>
  <div class="container expand-grid" id="directory-cards">
    <ul class="justify-content-center row row-xl-2 row-lg-3 row-md-4 row-sm-6 row-9 full-width shuffle-wrapper" id="directory-grid">
      {{ range .Pages | shuffle }}
          {{ partial "funcs/directory/card.html" (dict "data" . "size" "large") }}
      {{ end }}
    </ul>
  </div>
{{ end }}
	
	
	
{{ define  "footer" }}
<script type="text/javascript">
  
  $(document).ready(function() {
    $('[id^="filter-"]').multiselect({
      includeSelectAllOption: true,
      maxHeight: 300,
      enableFiltering: true,
      enableClickableOptGroups: true,
      enableCollapsibleOptGroups: true
    });
    $('.form-check-input').attr('name', 'shuffle-filter');
    
    // Attach event listeners to the multiselect change event
    $('[id^="filter-"]').on('change', applyFilters);

    // Select the container for shuffle items
    const shuffleContainer = document.getElementById('directory-grid');

    // Initialize Shuffle.js
    const shuffleInstance = new Shuffle(shuffleContainer, {
      itemSelector: '.shuffle-item',
      buffer: 1,
      isCentered: true
    });

    // Function to apply filters
    function applyFilters() {
      // Get selected values from multiselects || Default to empty array if no values selected
      const interests = $('#filter-interests').val() || []; 
      const languages = $('#filter-languages').val() || [];
      const locations = $('#filter-location').val() || [];
        
      // Use Shuffle.js filter method
      shuffleInstance.filter(item => {
        const itemInterests = JSON.parse(item.getAttribute('data-interests'));
        const itemLanguages = JSON.parse(item.getAttribute('data-languages'));
        const itemLocations = JSON.parse(item.getAttribute('data-location'));
    
        // Check if item passes the selected filters
        return (
          (interests.length === 0 || interests.some(i => itemInterests.includes(i))) &&
          (languages.length === 0 || languages.some(l => itemLanguages.includes(l))) &&
          (locations.length === 0 || locations.some(loc => itemLocations.includes(loc)))
        );
      });
    }
  });
</script>
{{ end }}
