
{{ define "main" }}
 	<article class="post">
 	  <div class="container">
 	    <div class="row">
 	      <div class="col-lg">
      		<header class="entry-header">
       			<div class="entry-meta">
               <span class="posted-on">
                  <time class="entry-date published" datetime="{{ .Date.Format .Site.Params.DateForm }}">
                     {{if isset .Params "date"}}{{- .Date.Format "January 2, 2006" -}}{{end}}
                  </time>
               </span>
       			</div>
      		</header>
     			
          <span class="entry-title" style="text-align: left;">
            <a href="{{ .RelPermalink}}" class="card-title name">{{ .Params.name }}
              {{with .Params.honorific }}&emsp;<i>{{ . }}</i>{{ end }}{{with .Params.pronouns }}&emsp;{{ . }}{{ end }}
              </a>
          </span>
          <h4>
            {{ range .Params.social_media }}
              {{ partial "some.html" . }}
            {{ end }}
          </h4>
          <p>
            {{ .Params.title }}{{ with .Params.organization }}&nbsp; <i>- &nbsp;{{ . }}</i>{{ end }}
          </p>
          {{ with .Params.contact_method }}<p>
            <b>Contact through:</b> {{ delimit . ", " | default "Not disclosed" }}<br>
          </p>
          {{ end }}
          {{if gt (len .Params.location) 1 }}
            <p>
              <i class="fas fa-map-marker-alt"></i> 
              <span class="r_groups">
                {{ range .Params.location }}
                  {{ with .Params.city }}  {{.}}, {{end}} 
                  {{ with .Params.state }} {{.}}, {{end}} 
                  {{ .Params.country }}
                {{ end }}
              </span>
            </p>
          {{ end }}
          {{ with .Params.interests }}
            <p>
              <b><i class="fas fa-tag" style = "font-size: 15px;"></i>&nbsp;</b>
              <span class="interests">{{ delimit . ", " }}</span>
            </p>
          {{ end }}
          {{ with .Params.r_groups }}
            <p>
              <b><i class="fas fa-users" style = "font-size: 15px;"></i>&nbsp;</b>
              <span class="r_groups">{{ delimit . ", " }}</span>
            </p>
          {{ end }}
          {{ with .Params.r_packages }}
            <p>
              <b><i class="fas fa-cube" style = "font-size: 15px;"></i>&nbsp;</b>
              <span class="r_packages">{{ delimit . ", " }}</span>
            </p>
          {{ end }}
          {{ with .Params.shiny_apps }}
            <p>
              <b><i class="fab fa-stripe-s" style="font-size: 15px;"></i>&nbsp;</b>
              <span class="shiny_apps">{{ delimit . ", " }}</span>
            </p>
          {{ end }}
	  		</div>
	  		<div class="col-sm" style="max-width: 300px;">
	  		  {{ $img := (.Resources.ByType "image") }}
	  		  {{ if eq $img nil }} 
	  		      <img src="/images/placeholder_user.png" alt="{{ .Params.name }} - {{with .Params.honorific }}{{ . }}{{ end }}{{with .Params.pronouns }}{{ . }}{{ end }}">
	  		  {{ else }}
          	{{ range first 1 $img}}
	  		      <img src="{{ .RelPermalink }}" alt="{{ .Params.name }} - {{with .Params.honorific }}{{ . }}{{ end }}{{with .Params.pronouns }}{{ . }}{{ end }}">
          	{{ end }}
	  		  {{ end }}

	  		</div>
  		</div>
  
  		<div class="entry-content">
  			{{ .Content }}
  		</div>
		</div>
	</article><!-- #post-## -->
{{ end }}
