
// Your variable overrides
$body-bg:    #fff;
$primary:    #88398a;
$table-hover-bg: rgba($primary, .2);

$font-family-monospace:  'rladies code', monospace;
$font-family-base:       'rladies body', sans-serif;
$font-family-sans-serif: 'rladies header', sans-serif;
$dropdown-link-hover-bg:  rgba($primary, .2);

@font-face {
  font-family: 'rladies header';
  src: url('fonts/open-sans-condensed-v15/font.eot'); /* IE9 Compat Modes */
  src: url('fonts/open-sans-condensed-v15/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-condensed-v15/font.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-condensed-v15/font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/open-sans-condensed-v15/font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-condensed-v15/font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'rladies body';
  src: url('fonts/open-sans-v26/font.eot'); /* IE9 Compat Modes */
  src: url('fonts/open-sans-v26/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v26/font.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v26/font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/open-sans-v26/font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v26/font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'rladies code';
  src: url('fonts/inconsolata-v21/font.eot'); /* IE9 Compat Modes */
  src: url('fonts/inconsolata-v21/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v21/font.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v21/font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/inconsolata-v21/font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v21/font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// Bootstrap and its default variables
@import "scss/bootstrap";
@import "scss/syntax";
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@100;300&family=Open+Sans:wght@300&display=swap');


html {
	scroll-behavior: smooth;
}

.text-white{
  color: $white;
  
  i {
    color: $white;
  }
  
  a {
    color: $white;
  }
  
  :hover {
    color: lighten($primary, 30%);
  }
}

#main {
  padding: 5em;
}

.chevron {
  position: absolute;
  font-size: 48px;
  color: $primary;
  bottom: 10px; 
  left: 0; 
  right: 0;
}



.full-width {
   width: 100vw;
   position: relative;
   left: 50%;  
   margin-left: -50vw;
}

.post {
  width: 100%;

  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.primary {
  color: $primary;
}

.date {
   width: 66%; 
   margin: 0 auto;
   position: relative;
   text-align: center; 
   border-bottom: 1px solid $gray-300; 
   line-height: 0.1em;
   color: $gray-500;
   font-size: $font-size-base;
} 

.date span { 
  background: $white;
  padding:0 10px; 
}

.style-rladies {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, $white,$primary, $white);
  background-image: -moz-linear-gradient(left, $white, $primary, $white);
  background-image: -ms-linear-gradient(left, $white, $primary, $white);
  background-image: -o-linear-gradient(left, $white, $primary, $white);
}


// footer
#footer {
  background: $primary;
  color: $white;
  font-size: $font-size-sm;
  
  a, .widget-title {
    color: lighten($primary, 50%);
  }
  
  .widget {
    padding: 1.5em;
  }
  
  .widget-title {
    padding-top: 5px;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  
  a:hover {
    color: lighten($primary, 40%);
  }
}

.chp-table {
  width: auto !important; 
  margin-left: auto;
  margin-right: auto;
}


.b-rladies{
  border: 1px solid $primary;
}

.b-rladies-r{
  border-right: 1px solid $primary;
}

.b-rladies-l{
  border-left: 1px solid $primary;
}

.b-rladies-b{
  border-bottom: 1px solid $primary;
}

.b-rladies-t{
  border-top: 1px solid $primary;
}

#underfooter {
  padding-top: 5px;
  background: darken($primary, 12%);
  color: lighten($primary, 35%);
  font-size: 12px;
  
  a {
    color: lighten($primary, 45%);
  }

}

/******************/
/*  untranslated  */
/******************/

.not-translated{
  background-color: rgba($primary, .3);
  font-size: $font-size-base;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 10px;
}


/******************/
/*   highlight    */
/******************/

pre {
  border-radius: 10px;
  border: 1px solid $primary;
  background-color: rgba($primary, .3);
}

pre.chroma {
  background-color: rgba($primary, .1);
  border: 1px solid $primary;
  border-radius: 10px;
}

/****************/
/* TUI calendar */
/****************/
.tui-full-calendar-month-week-item 
.tui-full-calendar-today 
.tui-full-calendar-weekday-grid-date-decorator {
  background: $primary !important;
}


/******************/
/* custom styles  */
/******************/

.section-title, 
.entry-title { 
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  letter-spacing: 1px;
  color: $gray-700;
  font-family: $font-family-sans-serif
  
  :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: 0 0 0;
  }

}

.section-title {
  font-size: 2.75rem;
  text-transform: uppercase;
}

.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}

.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid $gray-500;
  border-top: 1px solid $gray-500;
}

.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}

.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}

.entry-header .entry-meta {
  text-align: center;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 15px 0;
}
 
.entry-content {
  margin: 0 0 60px 0;
}

.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}

.entry-title {
  color: $primary;
  font-size: 2.25rem;
}


.read-more {
  text-align: right;
}


/******************/
/* code highlight */
/******************/
pre { 
  font-family: $font-family-monospace; 
  width: 100%; 
  padding: 1em;
}

.highlight {
 width: 100%; 
}


/******************/
/* parallax Hero  */
/******************/
.paral {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
  a {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
  }

  .chevron {
    color: rgba(lighten($primary, 40%), .6);
  }
  
  .logo img{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
  
    margin: auto; 
    height: 200px;
    width: 200px;
    border-radius: 20px;
    opacity: 1;
  }
  
  .logo-home img{
    bottom: 0;
    top: 0;
  }
}


/******************/
/*   BS4 cards    */
/******************/
.embed-responsive .card-img-top {
    object-fit: cover;
}

.card {
  .card-img-rladies {
      width: 50px !important;
      height: 50px !important;
      object-fit: contain;
  }
  
  a {
    text-decoration: none;  
  }
}

.card-blogs {
  min-width: 250px;
}

.card-img-transp {
  background-color: rgba($black, .7);
}
  
.card-directory {
  max-width: 300px; ¨
  :target:before {
    content: "";
    display: block;
    height: 400px;
    margin: -400px 0 0;
  }
}

.card-header-rladies{
  background-color: $primary;
  color: $white;
}
.card-directory-text {
  font-size: 16px;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-footer {
  background-color: lighten($primary, 50%);
  text-align: right;
  small {
    color: $gray-900;
  }
}

.card-title {
  color: $primary;
  font-family: $font-family-sans-serif;
}
 
.page-item, .page-link {
  border: none; 
}

.card-text{
  font-size: $font-size-base * .8;
}

.card-directory-title{
  font-size: 3em; 
  display: inline-block; 
  font-size: $font-size-base;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    font-size: $font-size-base * 1.75;
  }
}


/******************/
/*    amcharts    */
/******************/
#chartdiv {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 3em;
}

#chartdiv .fab {
  color: #fff;
}

#chartdiv .fab:hover {
  color: lighten($primary, 20%);
}

.card-home {
  max-height: 100px;
}


/******************/
/* fullcalendar   */
/******************/
.fc .fc-toolbar-title {
	font-size: 1.6em !important; 
}
.fc .fc-list-event-dot {
  border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid var(--fc-event-border-color,$primary);
  background-color: $primary;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid var(--fc-event-border-color,$primary);
  background-color: $primary;
}

.fc-v-event .fc-event-main {
  background: $primary;
}

.fc-h-event .fc-event-main {
  background-color: $primary;
}

.fc-h-event {
  border: 0px;
}
.fc-v-event {
  border: 0px;
}

.fc-dayGridMonth-view .fc-day-today,
.fc-timeGridWeek-view .fc-day-today {
    background: lighten($primary, 55%) !important;
    border: none !important;
} 

.fc-timeGridDay-view .fc-day-today{
    background: none !important;
    border: none !important;
} 

#loading {
  display: none;
}

.fc-event-time, .fc-event-title {
  font-size: 12px;
  padding: 0 1px;
  white-space: wrap;
}

tr.fc-list-event {
  color: #555658;;
}

.tzo {
  color: #000;
}

.tooltip {
  opacity: 1;
  height: auto; 
  overflow-y: hidden;
}

.tooltip-inner {
  max-width: 300px !important;
  width: 100%;
  color: black;
  text-align: center;
  background-color: #fff;
}

.popper,
.tooltip {
  position: absolute;
  background: #fff;
  color: black;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 300px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
