
// Your variable overrides
$body-bg:    #fff;
$primary:    #88398a;
$secondary:  #a7a9ac;
$table-hover-bg: rgba($primary, .2);

$font-family-monospace:  'rladies code', monospace;
$font-family-base:       'rladies body', sans-serif;
$font-family-sans-serif: 'rladies header', sans-serif;
$dropdown-link-hover-bg:  rgba($primary, .2);

@font-face {
  font-family: 'rladies header';
  src: url('fonts/open-sans-condensed-v15/font.eot'); /* IE9 Compat Modes */
  src: url('fonts/open-sans-condensed-v15/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-condensed-v15/font.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-condensed-v15/font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/open-sans-condensed-v15/font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-condensed-v15/font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'rladies body';
  src: url('fonts/open-sans-v26/font.eot'); /* IE9 Compat Modes */
  src: url('fonts/open-sans-v26/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v26/font.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v26/font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/open-sans-v26/font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v26/font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'rladies code';
  src: url('fonts/inconsolata-v21/font.eot'); /* IE9 Compat Modes */
  src: url('fonts/inconsolata-v21/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v21/font.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v21/font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/inconsolata-v21/font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v21/font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// Bootstrap and its default variables
@import "scss/bootstrap";
@import "scss/syntax";
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@100;300&family=Open+Sans:wght@300&display=swap');


html {
	scroll-behavior: smooth;
}

.text-white{
  color: $white;
  
  i {
    color: $white;
  }
  
  a {
    color: $white;
  }
  
  :hover {
    color: lighten($primary, 30%);
  }
}

#main {
  padding: 4em;
  padding-top: 2em;
}

.chevron {
  position: absolute;
  font-size: 48px;
  color: $primary;
  bottom: 10px; 
  left: 0; 
  right: 0;
}

.full-width {
   width: 100vw;
   left: 50%;
   margin-left: -50vw;
   padding-left: .2rem;
   position: relative;

   ul{
    width: 100%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.full-width {
   width: 1200px;
   margin-left: -600px;
  }
}

.post {
  width: 100%;

  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.primary {
  color: $primary;
}

.date {
   width: 66%; 
   margin: 0 auto;
   position: relative;
   text-align: center; 
   border-bottom: 1px solid $secondary; 
   line-height: 0.1em;
   color: darken($secondary, 15%);
   font-size: $font-size-base;
} 

.date span { 
  background: $white;
  padding:0 10px; 
}

// footer
#footer {
  background: $primary;
  color: $white;
  font-size: $font-size-sm;
  
  a, .widget-title {
    color: lighten($primary, 50%);
  }
  
  .widget {
    padding: 1.5em;
  }
  
  .widget-title {
    padding-top: 5px;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  
  a:hover {
    color: lighten($primary, 40%);
  }
}

.chp-table {
  width: auto !important; 
  margin-left: auto;
  margin-right: auto;
}

$border-rladies: 1px solid $primary;

.b-rladies{
  border: $border-rladies;
}

.b-rladies-r{
  border-right: $border-rladies;
}

.b-rladies-l{
  border-left: $border-rladies;
}

.b-rladies-b{
  border-bottom: $border-rladies;
}

.b-rladies-t{
  border-top: $border-rladies;
}

#underfooter {
  padding-top: 5px;
  background: darken($primary, 12%);
  color: lighten($primary, 35%);
  font-size: 12px;
  
  a {
    color: lighten($primary, 45%);
  }

}

/******************/
/*  untranslated  */
/******************/

.not-translated{
  background-color: rgba($primary, .3);
  font-size: $font-size-base;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 10px;
}


/******************/
/*   highlight    */
/******************/

pre {
  border-radius: 10px;
  border: 1px solid $primary;
  background-color: rgba($primary, .3);
}

pre.chroma {
  background-color: rgba($primary, .1);
  border: 1px solid $primary;
  border-radius: 10px;
}



/******************/
/* custom styles  */
/******************/

.section-title, 
.entry-title { 
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  letter-spacing: 1px;
  color: darken($secondary, 30%);
  font-family: $font-family-sans-serif

}

.section-title {
  font-size: 2.75rem;
  text-transform: uppercase;
}

.section-title span,
.entry-title span {
  color: $gray-700;
  display: inline-block;
  position: relative;
}

.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid darken($secondary, 20%);
  border-top: 1px solid darken($secondary, 20%);
}

.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}

.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}

.entry-header .entry-meta {
  text-align: center;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 15px 0;
}
 
.entry-content {
  margin: 0 0 60px 0;
}

.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}

.entry-title {
  color: $primary;
  font-size: 2.25rem;
}


.read-more {
  text-align: right;
}


/******************/
/* code highlight */
/******************/
pre { 
  font-family: $font-family-monospace; 
  width: 100%; 
  padding: 1em;
}

.highlight {
 width: 100%; 
}


/******************/
/* parallax Hero  */
/******************/
.paral {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  a {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
  }

  .logo img{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 4vh;

    margin: auto; 
    height: 100px;
    width: 100px;
    border-radius: 20px;
    opacity: 1;
  }
}

.home { 
  height: 100vh;
  
  .paral {
    background-attachment: none;
  }
  
  .chevron {
    color: rgba(lighten($primary, 40%), .6);
  }
  
  .logo img {
    bottom: 0;
    top: 0;
    height: 200px;
    width: 200px;
  }
}

/******************/
/*   object-fit   */
/******************/

.obj-fit-fill {
  object-fit: fill;
}

.obj-fit-cover {
  object-fit: cover;
}

.obj-fit-contain {
  object-fit: contain;
}

.obj-fit-sd {
  object-fit: scale-down;
}

.obj-fit-none {
  object-fit: none;
}


/******************/
/*      cards     */
/******************/

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}


.page-item, .page-link {
  border: none; 
}



.expand-grid{
  ul{
    list-style-type: none;
  }
}

.card-service {
  height: 150px;
  width: 150px;
}

.card-small {
  height: 270px;
  min-width: 150px;
  
  .card-expand-content {
    padding: 10px;
  }
}

.card-medium {
  height: 370px;
  min-width: 200px;
  
  .card-expand-content {
    padding: 20px;
  }
}

.card-large {
  height: 470px;
  min-width: 250px;
  .card-expand-content {
    padding: 30px;
  }
}

.card-wide {
  height: 370px;
  min-width: 250px;

  .card-expand-content {
    padding: 10px;
  }
}

.card-expand {
  position: relative;
  box-shadow: $box-shadow-sm;
  background: $white;
  margin: 1rem;
  margin-bottom: 10px;
  font-size: 14px;
  
    blockquote:before {
     content: "\f10d";
     font-family: FontAwesome;
     color: $primary;
     margin-right: 4px
    }
  
  blockquote:after {
     content: "\f10e";
     font-family: FontAwesome;
     color: $primary;
     margin-left: 4px
  }

 img {
    display: block;
    width: 100%;
    height: 50%;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 16px;
  }
}

.card-expand-title {
  color: $secondary;
  text-transform: capitalize;
  
  a {
    color: darken($secondary, 20%);
  }
}

.card-expand:hover,
.card-expand-hover {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  
  .card-expand-img {
    opacity: .8;
  }
}

.card-expand-img{
  height: 100%;
  overflow: hidden;
}

.card-expand-content {
  position: absolute;
  bottom: 0;
  background: transparentize($white, .1);
  width: 100%;
  padding-bottom: 0.8rem;
}

.card-expand-content
.card-expand-hover 
.card-expand-description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.card-expand-animate {
  display: none;
}

.card-expand-category {
  position: absolute;
  top: -30px;
  left: 0;
  background: transparentize($primary, .15);
  padding: 10px 15px;
  color: $white;
  font-size: 14px;
  text-transform: capitalize;
  
  a {
    text-transform: capitalize;
    color: $white;
  }
}

.card-expand-title {
  margin: 0;
  padding: 0 0 10px;
  color: darken($secondary, 30%);
  font-size: 26px;
}

.card-expand-subtitle {
  margin: 0;
  padding: 0 0 20px;
  color: $primary;
  font-size: 20px;
  font-weight: 400;
}

.card-expand-description {
  font-size: 14px;
  color: darken($secondary, 30%);
  line-height: 1.2em;
}

.card-expand-up-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-expand-foot{
  margin-top: 0.5rem;
  margin-bottom: -10px;
  font-size: 11px;
  color: $secondary;
   a {
    text-decoration: none;
  }
}

/******************/
/*    amcharts    */
/******************/
#chartdiv {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 3em;
}

#chartdiv .fab {
  color: $white;
}

#chartdiv .fab:hover {
  color: lighten($primary, 20%);
}



/******************/
/* fullcalendar   */
/******************/
.fc .fc-toolbar-title {
	font-size: 1.6em !important; 
}
.fc .fc-list-event-dot {
  border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid var(--fc-event-border-color,$primary);
  background-color: $primary;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid var(--fc-event-border-color,$primary);
  background-color: $primary;
}

.fc-v-event .fc-event-main {
  background: $primary;
}

.fc-h-event .fc-event-main {
  background-color: $primary;
}

.fc-h-event {
  border: 0px;
}
.fc-v-event {
  border: 0px;
}

.fc-dayGridMonth-view .fc-day-today,
.fc-timeGridWeek-view .fc-day-today {
    background: lighten($primary, 55%) !important;
    border: none !important;
} 

.fc-timeGridDay-view .fc-day-today{
    background: none !important;
    border: none !important;
} 

#loading {
  display: none;
}

.fc-event-time, .fc-event-title {
  font-size: 12px;
  padding: 0 1px;
  white-space: wrap;
}

tr.fc-list-event {
  color: #555658;;
}

.tzo {
  color: #000;
}

.tooltip {
  opacity: 1;
  height: auto; 
  overflow-y: hidden;
}

.tooltip-inner {
  max-width: 300px !important;
  width: 100%;
  color: black;
  text-align: center;
  background-color: #fff;
}

.popper,
.tooltip {
  position: absolute;
  background: #fff;
  color: black;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 300px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: $primary;
}
.style5 .tooltip .tooltip-arrow {
  border-color: $gray-700;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.page-arrow {
  font-size:20px;
  line-height:1;
  font-weight:bold;
  cursor:pointer;
  background:$table-hover-bg;
  padding:5px 10px;
}


/*=================================================================
  Item counter section
==================================================================*/

.block .icon-box i{
  color: #fff;
  font-size: 50px;
}

.block:hover .icon-box {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.block .icon-box {
  color: #fff;
  width: 160px;
  height: 92.38px;
  background-color: $primary;
  margin: 46.19px auto 60px;
  border-left: 2px solid $primary;
  border-right: 2px solid $primary;
  font-size: 20px;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.block .icon-box:after,
.block .icon-box:before {
  content: "";
  position: absolute;
  z-index: -99;
  width: 113.14px;
  height: 113.14px;
  background-color: inherit;
  left: 20.4315px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
}

.block .icon-box:before {
  top: -56.5685px;
  border-top: 2px solid $primary;
  border-right: 2px solid $primary;
}

.block .icon-box:after {
  bottom: -56.5685px;
  border-bottom: 2px solid $primary;
  border-left: 2px solid $primary;
}

.block .icon-box h3 {
  font-size: 20px;
  bottom: -90px !important;
  transform: uppercase;
}

