
{{ define "main"}}
    <h2 class="section-title" id="home-news">
      <span>{{ i18n "news" }}</span>
    </h2>
    {{ range first 1 (where site.RegularPages "Type" "post") }}
      {{ partial "post/summary.html" . }}
    {{ end }}

    {{ range .Site.Sections }}
      {{ range .Sections.ByWeight }}
        <div id="{{ .Title }}" class="row section  topspace">
          <h2 class="section-title">
            <span>{{.Title}}</span>
          </h2>
          {{ $stype := .Type}}
          {{ if eq $stype "single"  }}
            <div class="text-align-center">
              <p>{{ .Content }}</p> 
            </div>
          {{ else }}
            {{ partial (printf "home/%s.html" $stype) . }}
          {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}

