{{ define "main"}}
<main id="main">
	<div class="container" >
		<div class="row topspace">

				<header class="entry-header">
 						{{ if eq .Params.translated false }}
              <div class="not-translated">
                 {{ i18n "missing_translation" }}
               </div>
            {{ end }}
            
 					<h1 class="entry-title">
 					  <a title={{ i18n "translations" }} href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
 					</h1>
 		      <div class="post-meta">
            {{ partial "post/dates.html" .}}
            {{ with .Params.categories -}}
              <div class="post-category">
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                  <a href="{{ .Permalink }}"> {{ $name }} </a>
                {{ end -}}
                {{ end }}
              </div>
            {{- end }}
 						
    				{{ partial "post/i18n.html" . }}
      		</header>

				
				<p>{{ .Content }}</p>

      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>
          {{ end -}}
          {{ end }}
        </div>
      {{- end }}
    <br>

      <!-- Post Pagination -->
    <div class="row">
      <nav class="post-nav">
        <div class="col-md-6 text-align-left">
          {{ with .NextInSection }}
            <a class="prev" href="{{ .RelPermalink }}">
              <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
              <b><span class="prev-text nav-mobile">{{ i18n "prev_post" }}</span></b>
              <br>
              <span class="prev-text nav-default">{{ .Title }}</span>
            </a>
          {{- end }}
        </div>

        <div class="col-md-6" style="text-align: right;">
          {{ with .PrevInSection }}
            <a class="next" href="{{ .RelPermalink }}">
              <b><span class="prev-text nav-mobile">{{ i18n "next_post" }}</span></b>
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
              <br>
              <span class="next-text nav-default">{{ .Title }}</span>
            </a>
          {{- end }}
        </div>
      </nav>
  </div>

    <!-- Author Info -->
    {{ if and (.Params.author | default .Site.Author.name) (.Params.showAuthorInfo | default .Site.Params.showAuthorInfo) }}
    {{ partial "author_info.html" (dict "author" (.Params.author | default .Site.Author.name) "context" $) }}
    {{ end }}

		</div> <!-- /row post  -->
	</div>	<!-- /container -->
</main>

{{- end }}
