{{ $image := .img | default "/images/placeholder_user.png" }}
{{ $image := $image | absURL  }}
{{ $size := .size | default "medium" }}
{{ $footcol := .footcol | default 1 }}
{{ $anim := .anim | default true }}

{{ $tags := slice }}
{{ range $index, $item := . }}
    {{ $replaced := replaceRE "[[:punct:]]" "," ($item | urlize) }}
    {{ $split := split $replaced "," }}
    {{ $tags = $tags | append $split }}
{{ end }}

<li class="shuffle-item card-expand rounded card-{{ $size }} card" {{ with .id }} id="{{  . | htmlUnescape | urlize }}" {{ end }} {{ range $key, $value := .shuffle }} data-{{ $key }}="[{{range  $index, $tags := $value }}{{if ne $index 0}},{{end}}&quot;{{$tags | urlize}}&quot;{{ end }}]"{{ end }} >
  <div class="card-expand-img rounded-top">
    <img src="{{ $image }}"/>
  </div>
  <a href="{{ .link }}">
  <div class="card-expand-content">
    {{ with .category }}
      <div class="card-expand-category rounded-right">{{ . | safeHTML }}</div>
    {{ end }}
      {{ with .url }}<a href="{{.}}" target="_blank">{{end}}
      <h4 class="card-expand-title">
          {{ with .id }} <a href="#{{ . }}" class="name">{{ end }} 
            {{ .title | safeHTML }}
          {{ with .id }} </a> {{ end }}
      </h4>
    {{ with .url }}</a>{{end}}
    {{ with .subtitle }}
      <h5 class="card-expand-subtitle">
        {{ . | safeHTML }}
      </h5>
    {{ end }} 
    {{ with .descr }}
      <div class="card-expand-description {{ if $anim }} card-expand-animate {{ end }}">
        {{ . | safeHTML }} 
      </div>
    {{ end }}
    <div class="card-expand-foot" style="column-count: {{$footcol}};">
      {{ with .foot }}
        <span>
          {{ . | safeHTML }}
        </span>
      {{ end  }}
    </div>
  </div>
  </a>
</li>
