
<script type="text/javascript" class="code-js">
  var rladies_monthly = {
      "common.border":"1px solid #a7a9ac80",
      "common.backgroundColor":"white",
      "common.holiday.color":"#88398a",
      "common.saturday.color":"#88398a",
      "common.today.color":"#a7a9ac",
 
      "month.dayname.height":"31px",
      "month.dayname.borderLeft":"1px solid #88398aFF",
      "month.dayname.paddingLeft":"10px",
      "month.dayname.paddingRight":"10px",
      "month.dayname.backgroundColor":"#88398a64",
      "month.dayname.fontSize":"12px",
      "month.dayname.fontWeight":"normal",
      "month.dayname.textAlign":"left",
      
      "month.holidayExceptThisMonth.color":"#88398a0A",
      "month.dayExceptThisMonth.color":"#a7a9acb4",
      "month.weekend.backgroundColor":"inherit",
      "month.day.fontSize":"14px",
      
      "month.schedule.borderRadius":"2px",
      "month.schedule.height":"24px",
      "month.schedule.marginTop":"2px",
      "month.schedule.marginLeft":"8px",
      "month.schedule.marginRight":"8px",
      
      "month.moreView.border":"1px solid #d5d5d5",
      "month.moreView.boxShadow":"0 2px 6px 0 rgba(0, 0, 0, 0.1)",
      "month.moreView.backgroundColor":"white",
      "month.moreView.paddingBottom":"17px",
      
      "month.moreViewTitle.height":"44px",
      "month.moreViewTitle.marginBottom":"12px",
      "month.moreViewTitle.backgroundColor":"inherit",
      "month.moreViewTitle.borderBottom":"none",
      "month.moreViewTitle.padding":"12px 17px 0 17px",
      "month.moreViewList.padding":"0 17px"
  }
</script>
