{{ define "main" }}
 	<article class="post">
		<header class="entry-header">
 			<div class="entry-meta">
         <span class="posted-on">
            <time class="entry-date published" datetime="{{ .Date.Format .Site.Params.DateForm }}">
               {{if isset .Params "date"}}{{- .Date.Format "January 2, 2006" -}}{{end}}
            </time>
         </span>
 			</div>
 			<h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
		</header>
		<div class="entry-content py-5 ">
			{{ .Content }}
        <div class="row full-width " id="rladies-blogs">
          {{ $blogs := ( .Scratch.Get "blogs" ) }}
          {{ range $blogs }}    
          <a href="{{ .url }}" id="{{ .url }}">
            <div class="col-sm-12 col-lg-6">
              {{ $image := resources.GetRemote .photo_url }}
              {{ $image := $image.Fill "600x600" }}
              <div class="card h-100 hover hover-4 text-white rounded">
                <img src="{{ $image.RelPermalink }}" alt="{{ .name }} {{ with .subtitle }}{{ . }}{{ end }}">
                <div class="hover-overlay"></div>
                <div class="hover-4-content">
                  <h3 class="hover-4-title mb-0">{{ .title }}</h3>
                  {{ with .subtitle }}
                    <p class="hover-4-subtitle font-weight-light">{{ . }}</p>
                  {{ end }}
                  {{ range .authors }}
                    <p class="hover-4-description mb-0 small">
                      {{ .name }}
                      <span>
                        {{ range first 3 .social_media }}
                          {{ partial "some.html" .}}
                        {{ end }}
                      </span>
                    </p>
                  {{ end }}
                  </div>
                </div>
              </div>
            </a>
            </div>
          {{ end }}
        </div>
      </div>
	</article><!-- #post-## -->
{{ end }}
