{{ define "main" }}
	{{ .Content }}
    <div class="container" id="rladies-blogs">
      <div class="row justify-content-center full-width">
        {{ $blogs := ( .Scratch.Get "blogs" ) }}
        {{ range $blogs }}
          {{ $data := newScratch }}
          {{ $data.Set "descr" "" }}

          {{ range .authors }}
          {{ $data.Add "descr" .name }}
              {{ range first 3 .social_media }}
                {{ $data.Add "descr" (partial "some.html" .) }}
              {{ end }}
          {{ end }}
          {{ $descr :=  $data.Get "descr" }}
          
        <!-- <a href="{{ .url }}" id="{{ .url | safeJS }}"> -->
            {{ $img := ( printf "about-us/global-team/img/%s" .img ) }}
            {{ $subtitle := .subtitle | default "" }}
            {{ partial "cards/hover-img.html" (dict "title" .title "subtitle" $subtitle "descr" $descr "img" .photo_url  ) }}
         <!-- </a> -->
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
