.block .icon-box i {
    color: #fff;
    font-size: 50px;
}

.block:hover .icon-box {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.block .icon-box {
    color: #fff;
    width: 160px;
    height: 92.38px;
    background-color: $primary;
    margin: 46.19px auto 60px;
    border-left: 2px solid $primary;
    border-right: 2px solid $primary;
    font-size: 20px;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.block .icon-box:after,
.block .icon-box:before {
    content: "";
    position: absolute;
    z-index: -99;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 20.4315px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
}

.block .icon-box:before {
    top: -56.5685px;
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
}

.block .icon-box:after {
    bottom: -56.5685px;
    border-bottom: 2px solid $primary;
    border-left: 2px solid $primary;
}

.block .icon-box h3 {
    font-size: 20px;
    bottom: -90px !important;
    transform: uppercase;
}


.blockquote {
    padding: 10px;
    position: relative;
}

.blockquote p {
    font-size: 25px;
    font-weight: 700px;
}

.blockquote:before {
    content: "\f10d";
    position: absolute;
    font-family: 'FontAwesome';
    top: -20px;
    font-size: 100px;
    color: transparentize($primary, 0.9);
}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: 5%;
    position: absolute;
    border-bottom: 3px solid $primary;
}