.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -$pagination-border-width;
  line-height: $pagination-line-height;
  color: $pagination-color;
  text-decoration: if($link-decoration == none, null, none);
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 3;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      @include border-left-radius($border-radius);
    }
  }
  &:last-child {
    .page-link {
      @include border-right-radius($border-radius);
    }
  }

  &.active .page-link {
    z-index: 3;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $pagination-border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $pagination-border-radius-sm);
}


/******************/
/*   custom   */
/******************/

.pagination-wrap {
  user-select: none;
  display: flex;
    
  a {
    text-decoration: none;
  }
}

.pagination-layout {
  display: flex;
  @include list-unstyled();
  @include border-radius();
  padding: 0 1em;
  margin: 0;
  list-style-type: none;

  li {
    width: 24px;
    margin: 0 1px;

    a.page {
      height: 24px;
      width: 24px;
      display: block;
      border: none;
      line-height: 24px;
      padding: 0;
      text-align: center;
      border-radius: 50%;
      font-weight: 700;
      color: $primary;
      background-color: transparent;

      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }

    &.active {
      a.page {
        background-color: $primary;
        color: #fff;
      }
    }

    &.disabled {
      a.page {
        &:hover {
          color: $primary;
          background-color: transparent;
        }
      }
    }
  }
}

.pagination-next, .pagination-prev {
  color: $primary;

  &:hover {
    color: lighten($primary, 20%);
  }

  &.disabled {
    color: lighten($primary, 40%);
    cursor: default;

    &:hover {
      color: lighten($primary, 40%);
    }
  }
}
