// Bootstrap and its default variables
// must come first
@import "vendor/bootstrap/functions";

// Your variable overrides
$body-bg: #fff;
$primary: #88398a;
$secondary: #a7a9ac;
$third: #2188d6;
$table-hover-bg: rgba($primary, .2);
$font-family-monospace: 'Inconsolata Variable', monospace;
$font-family-base: 'Open Sans Variable', sans-serif;
$font-family-sans-serif: 'Open Sans Variable', sans-serif;
$dropdown-link-hover-bg: rgba($primary, .2);


// Variable Google Fonts
@font-face {
  font-family: 'Inconsolata Variable';
  src: url('/webfonts/google-fonts/inconsolata/inconsolata-latin-wght-normal.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Variable';
  src: url('/webfonts/google-fonts/open-sans/open-sans-latin-wght-normal.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

// Import all scss files
@import "vendor/bootstrap/bootstrap";
@import "_custom";
@import "_syntax";
@import "_fullcalendar";
@import "_amcharts";
@import "_hero";
@import "_icon-box";
@import "_card-expand";
@import "_highlight";
@import "_back-to-top";

$fa-font-path: "/webfonts/fontawesome";
@import "vendor/fontawesome/fontawesome";
@import "vendor/fontawesome/solid";
@import "vendor/fontawesome/brands";