<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

{{ $js := slice
    (resources.Get "js/jquery.min.js")
    (resources.Get "js/bootstrap.bundle.min.js")
    (resources.Get "js/bootstrap-multiselect.min.js")
    (resources.Get "js/shuffle.min.js")
    (resources.Get "js/counter.js")
    (resources.Get "js/card-expand.js")
    | resources.Concat "js/bundle.js"
    | minify
    | fingerprint
}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>


