<script type="text/javascript" async src="{{ "js/moment.min.js" | relURL }}"></script>

<!-- TUI calendar js-->  
<script type="text/javascript" async src="{{ "js/tui-code-snippet.min.js" | relURL }}" ></script>
<script type="text/javascript" async src="{{ "js/tui-time-picker.min.js" | relURL }}" ></script>
<script type="text/javascript" async src="{{ "js/tui-date-picker.min.js" | relURL }}" ></script>
<script type="text/javascript" async src="{{ "js/tui-calendar.min.js" | relURL }}" ></script>

<script type="text/javascript">
  var rladies_cal = {
    "common.border":"1px solid #a7a9ac80",
    "common.backgroundColor":"white",
    "common.holiday.color":"#88398a",
    "common.saturday.color":"#88398a",
    "common.today.color":"#a7a9ac",
    
    "month.dayname.borderLeft":"1px solid #88398aFF",
    "month.dayname.backgroundColor":"#88398a64",
    
    "month.holidayExceptThisMonth.color":"#88398a0A",
    "month.dayExceptThisMonth.color":"#a7a9acb4",
  
    // week header 'dayname'
    'week.dayname.borderTop': '1px solid #88398a',
    'week.dayname.borderBottom': '1px solid #88398a',
    'week.today.color': '#88398a',
    'week.pastDay.color': '#bbb',
    
    // week vertical panel 'vpanel'
    'week.vpanelSplitter.border': '1px solid #88398a',
  
    // week daygrid 'daygrid'
    'week.today.backgroundColor': '#88398a0A',
  
    // week timegrid 'timegrid'
    'week.timegridLeft.borderRight': '1px solid #88398a',
  
    'week.currentTime.color': '#88398a',
    'week.pastTime.color': '#bbb',
    'week.futureTime.color': '#555',
  
    'week.currentTimeLinePast.border': '1px dashed #88398a',
    'week.currentTimeLineBullet.backgroundColor': '#88398a',
    'week.currentTimeLineToday.border': '1px solid #88398a',
  }
</script>