{{ $dir := newScratch }}
{{ $dir.Set "shuffle" slice }}
{{ $dir.Set "title" .data.name }} 
{{ $dir.Add "title" "<span><small>"}}
{{ with .data.social_media }}
  {{ $some := partial "social_media.html" (dict "data" . ) }}
  {{ $dir.Add "title" $some }} 
{{ end }}
{{ $dir.Add "title" "</small></span>"}}

{{ $dir.Set "subtitle" (printf "<p class=\"text-hide directory-id\">%s</p>" .name) }} 
{{ with .data.work.title }} 
  {{ $dir.Add "subtitle" . }} 
{{ end }}

{{ $grav := md5 ( .data.name | printf "%s-%s" .name ) }}
{{ $dir.Set "img" (printf "https://www.gravatar.com/avatar/%s?s=100&d=identicon" $grav )}}
{{ with (resources.GetMatch .data.photo.url ) }}
  {{ $image :=  . }}
  {{ $image := $image.Fill "300x300" }}
  {{ $dir.Set "img" $image.RelPermalink }}
{{ end }}

{{ $shuffle := dict }}

{{ with .data.interests }}
  {{ $shuffle = merge $shuffle (dict "interests" . ) }}
{{ end }}

{{ with .data.languages }}
  {{ $shuffle = merge $shuffle (dict "languages" . ) }}
{{ end }}

{{ with .data.location }}
  {{ $tmp := newScratch }}
  {{ with .country }}
    {{ $tmp.Set "loc" . }}
  {{ end }}
  
  {{ with .state }}
    {{ $tmp.Add "loc" ( . | printf ", %s") }}
  {{ end }}
  
  {{ with .city }}
    {{ $tmp.Add "loc" ( . | printf ", %s") }}
  {{ end }}
  {{ $location := ($tmp.Get "loc" | slice ) }}
  {{ $shuffle = merge $shuffle (dict "location" $location) }}
{{ end }}

{{ $descr := partial "funcs/directory/descr.html" (dict "data" .data "id" .name ) }}
{{ $subtitle := ($dir.Get "subtitle" ) }}
{{ $title := ($dir.Get "title" ) }}
{{ $foot := (partial "funcs/directory/foot.html" .data ) }}

{{ partial "funcs/card-expand.html" (dict "title" $title "subtitle" $subtitle "size" .size  "img" ($dir.Get "img") "category" .data.honorific "descr" $descr "foot" $foot "footcol" 2 "id" .name  "shuffle" $shuffle ) }}
