{{ $dir := newScratch }}
{{ $dir.Set "shuffle" slice }}
{{ $dir.Set "title" .data.Title }} 
{{ $dir.Add "title" "<span><small>"}}
{{ with .data.Params.social_media }}
  {{ $some := partial "social_media.html" (dict "data" . ) }}
  {{ $dir.Add "title" $some }} 
{{ end }}
{{ $dir.Add "title" "</small></span>"}}

{{ $dir.Set "subtitle" (printf "<p class=\"text-hide directory-id\">%s</p>" .slug) }} 
{{ with .data.Params.work.title }} 
  {{ $dir.Add "subtitle" . }} 
{{ end }}

{{ $grav := md5 ( .data.Title | printf "%s-%s" .slug ) }}
{{ $dir.Set "img" (printf "https://www.gravatar.com/avatar/%s?s=100&d=identicon" $grav )}}
{{ with ( .data.Resources.Get .data.Params.photo.url ) }}
  {{ $image :=  . }}
  {{ $image := $image.Fill "300x300" }}
  {{ $dir.Set "img" $image.RelPermalink }}
{{ end }}

{{ $interests := dict "interests" "" }}
{{ with .data.Params.interests }}
  {{ $dir.Set "interests" .}}
{{ end }}
{{ $interests := dict "interests" ($dir.Get "interests") }}

{{ $languages := dict "languages" "" }}
{{ with .data.Params.languages }}
  {{ $dir.Set "languages" .}}
{{ end }}
{{ $languages := dict "languages" ($dir.Get "languages") }}

{{ $location := dict "location" "" }}
{{ $dir.Add "location" (partial "funcs/directory/location.html" .data.Params.location) }}
{{ $dir.Set "location" ($dir.Get "location" | slice ) }}
{{ $location := dict "location" ($dir.Get "location" | slice ) }}

{{ $descr := partial "funcs/directory/descr.html" (dict "data" .data "id" .slug ) }}
{{ $subtitle := ($dir.Get "subtitle" ) }}
{{ $title := ($dir.Get "title" ) }}
{{ $foot := (partial "funcs/directory/foot.html" .data ) }}
{{ $shuffle := merge $interests $languages $location }}

{{ partial "funcs/card-expand.html" (dict "title" $title "subtitle" $subtitle "size" .size  "img" ($dir.Get "img") "category" .data.Params.honorific "descr" $descr "foot" $foot "footcol" 2 "id" .data.Slug  "shuffle" $shuffle "link" .data.Permalink) }}
