{{ $data := newScratch }}
{{ $data.Set "content" "" }}


{{ with .data.Params.work.organisation }} 
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<i class=\"fa-solid fa-briefcase\"></i> " }}
{{ end }}
{{ with .data.Params.work.url }}
  {{ $data.Add "content" (printf "<a href=\"%s\">" . ) }}
{{ end }}
{{ with .data.Params.work.organisation }} 
  {{ $data.Add "content" . }} 
{{ end }}
{{ with .data.Params.work.url }}
  {{ $data.Add "content" "</a>"}}
{{ end }}
{{ with .data.Params.work.url }}
{{ end }}
{{ with .data.Params.work.department }} 
  {{ $data.Add "content" ", " }} 
  {{ $data.Add "content" . }} 
{{ end }}
{{ with .data.Params.work.organisation }} "</p>" {{ end }}

{{ with .data.Params.contact_method }} 
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<i class=\"fa-solid fa-comment\"></i> "}}
  {{ $data.Add "content" (delimit . ", ") }}
  {{ $data.Add "content" "</p>" }}
{{ end }}

{{ with .data.Params.languages }} 
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<i class=\"fa fa-language\"></i> "}}
  {{ $data.Add "content" (delimit . ", ") }}
  {{ $data.Add "content" "</p>" }}
{{ end }}
              
{{ with .data.Params.interests }}
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<b><i class=\"fas fa-tag\" style = \"font-size: 15px;\"></i>&nbsp;</b>" }}
  {{ $data.Add "content" (printf "<span class=\"interests\"> %s </span>" (delimit . ", ") ) }}
  {{ $data.Add "content" "</p>" }}
{{ end }}

{{ with .data.Params.activities }}
  {{ with .r_groups }}
    {{ $data.Add "content" "<p class=\"card-text\">" }}
    {{ $data.Add "content" "<b><i class=\"fas fa-users\" style = \"font-size: 15px;\"></i>&nbsp;</b>" }}
    {{ $data.Add "content" "<span class=\"r_groups\">" }}
    {{ range . }}
      {{  $data.Add "content" (partial "funcs/keypairlink.html" (dict "url" .url "name" .name )) }}
      {{  $data.Add "content" ", " }}
    {{ end }}
    {{ $data.Add "content" "</span></p>" }}
  {{ end }}
      
  {{ with .r_packages }}
    {{ $data.Add "content" "<p class=\"card-text\">" }}
    {{ $data.Add "content" "<b><i class=\"fas fa-cube\" style = \"font-size: 15px;\"></i>&nbsp;</b>" }}
    {{ $data.Add "content" "<span class=\"r_packages\">"  }}
    {{ range .}}
      {{  $data.Add "content" (partial "funcs/keypairlink.html" (dict "url" .url "name" .name )) }}
      {{  $data.Add "content" ", " }}
    {{ end }}
    {{ $data.Add "content" "</span></p>" }}
  {{ end }}
  
  {{ with .shiny_apps }}
    {{ $data.Add "content" "<p class=\"card-text\">" }}
    {{ $data.Add "content" "<b><i class=\"fas fa-stripe-s\" style = \"font-size: 15px;\"></i>&nbsp;</b>" }}
    {{ $data.Add "content" "<span class=\"shiny_apps\">" }}
    {{ range .}}
      {{  $data.Add "content" (partial "funcs/keypairlink.html" (dict "url" .url "name" .name )) }}
      {{  $data.Add "content" ", " }}
    {{ end }}
    {{ $data.Add "content" "</span></p>" }}
  {{ end }}
{{ end }}

{{ with .data.Params.photo.credit }}
  {{ $data.Add "content" "<p class=\"card-text text-muted\"><small>" }}
  {{ $data.Add "content" (printf "Photo credit: %s" . ) }}
  {{ $data.Add "content" "</small></p>" }}
{{ end }}

{{ return ($data.Get "content") }}
