{{ $data := newScratch }}
{{ $data.Set "content" "" }}


{{ with .data.Params.contact_method }} 
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<i class=\"fa-solid fa-comment\"></i> "}}
  {{ $data.Add "content" (delimit . ", ") }}
  {{ $data.Add "content" "</p>" }}
{{ end }}

{{ with .data.Params.languages }} 
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<i class=\"fa fa-language\"></i> "}}
  {{ $data.Add "content" (delimit . ", ") }}
  {{ $data.Add "content" "</p>" }}
{{ end }}
              
{{ with .data.Params.interests }}
  {{ $data.Add "content" "<p class=\"card-text\">" }}
  {{ $data.Add "content" "<b><i class=\"fas fa-tag\" style = \"font-size: 15px;\"></i>&nbsp;</b>" }}
  {{ $data.Add "content" (printf "<span class=\"interests\"> %s </span>" (delimit . ", ") ) }}
  {{ $data.Add "content" "</p>" }}
{{ end }}

{{ with .data.Params.photo.credit }}
  {{ $data.Add "content" "<p class=\"card-text text-muted\"><small>" }}
  {{ $data.Add "content" (printf "Photo credit: %s" . ) }}
  {{ $data.Add "content" "</small></p>" }}
{{ end }}

{{ return ($data.Get "content") }}
