{{ define "main" }}
    <p class="lead mb-4">{{ i18n "redirect_msg" }}</p>
    <p>{{ i18n "redirect_fallback" }}</p>
    <a id="redirectLink">{{ i18n "redirect_click" }}</a>

    <script>
        const baseRedirectUrl = "{{ .Params.redirect }}";
        const queryString = window.location.search;
        const finalRedirectUrl = baseRedirectUrl + queryString;

        document.getElementById('redirectLink').href = finalRedirectUrl;

        setTimeout(() => {
            window.location.replace(finalRedirectUrl);
        }, 500);
    </script>
{{ end }}
