{{ $id := .id | default "chaptermap" }}
{{ $height := .height | default "400px" }}
{{ $data := .data }}
{{ $zoom := .zoom }}
{{ $countries := .countries }}

{{ $js := resources.Get "js/vendor/amcharts.bundle.min.js"
    | minify
    | fingerprint
}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>

<div id="{{ $id }}" style="width: 100%; height: {{ $height }};"></div>

<!-- if data is empty -->
{{ if not $data }}
  {{ $points := slice }}
  {{ range ($.Scratch.Get "chpt_active") }}
    {{ $points = $points | append (dict
      "name" .name
      "members" .members
      "latitude" .lat
      "longitude" .lon
    )}}
  {{ end }}
  {{ $data = (dict
    "points" $points
    "tooltip" "<b>{name}</b><br><i class='fa fa-users'></i>&emsp;{members}"
    "radius" 4
    "color" "#881ef9"
  ) }}
{{ end }}

<script>
if (typeof am5 === 'undefined') {
  console.error('am5 not loaded');
} else {
  am5.ready(function() {
    var isDark = document.documentElement.classList.contains('dark');
    var root = am5.Root.new("{{ $id }}");

    root.setThemes([am5themes_Animated.new(root)]);

    root.container.set("background", am5.Rectangle.new(root, {
      fill: am5.color(isDark ? 0x1a1a2e : 0xffffff),
      fillOpacity: 1
    }));

    var chart = root.container.children.push(
      am5map.MapChart.new(root, {
        projection: am5map.geoEqualEarth()
      })
    );

    var bgSeries = chart.series.push(
      am5map.MapPolygonSeries.new(root, {
        geoJSON: { type: "Sphere" }
      })
    );
    bgSeries.mapPolygons.template.setAll({
      fill: am5.color(isDark ? 0x1a1a2e : 0xffffff),
      stroke: am5.color(isDark ? 0x1a1a2e : 0xffffff),
      strokeWidth: 0
    });

    var polygonSeries = chart.series.push(
      am5map.MapPolygonSeries.new(root, {
        geoJSON: am5geodata_worldLow
      })
    );

    polygonSeries.mapPolygons.template.setAll({
      tooltipText: "{name}",
      fill: am5.color(isDark ? 0x2a2a42 : 0xcccccc),
      stroke: am5.color(isDark ? 0x3a3a55 : 0xffffff),
      strokeWidth: 0.5
    });

    polygonSeries.mapPolygons.template.states.create("hover", {
      fill: am5.color(0x881ef9),
      fillOpacity: 1
    });

    var tooltip = am5.Tooltip.new(root, {
      getFillFromSprite: false,
      getLabelFillFromSprite: false
    });
    tooltip.get("background").setAll({
      fill: am5.color(isDark ? 0x1e1e30 : 0xffffff),
      stroke: am5.color(isDark ? 0x3a3a55 : 0xcccccc),
      strokeWidth: 1
    });
    tooltip.label.setAll({
      fill: am5.color(isDark ? 0xededf4 : 0x333333)
    });

    {{ if $countries }}
      var countryData = {{ $countries | jsonify }};
      var countryMap = {};
      (typeof countryData === 'string' ? JSON.parse(countryData) : countryData).forEach(function(country) {
        var isoCode = country.iso;
        if (isoCode && isoCode !== null) {
          countryMap[isoCode.toUpperCase()] = country.count;
        }
      });

      polygonSeries.events.on("datavalidated", function() {
        polygonSeries.mapPolygons.each(function(polygon) {
          var id = polygon.dataItem.get("id");
          if (countryMap[id]) {
            polygon.setAll({
              fill: am5.color(0x881ef9),
              fillOpacity: isDark ? 0.5 : 0.4,
              tooltipText: "{name}\n" + countryMap[id] + " chapter" + (countryMap[id] > 1 ? "s" : "")
            });
          }
        });
      });
      {{ end }}

    var pointSeries = chart.series.push(
      am5map.MapPointSeries.new(root, {})
    );

    pointSeries.bullets.push(function() {
      var circle = am5.Circle.new(root, {
        radius: {{ $data.radius | default 7 }},
        fill: am5.color(isDark ? 0xa64dfc : 0x881ef9),
        stroke: am5.color(isDark ? 0x1a1a2e : 0xffffff),
        strokeWidth: isDark ? 2 : 1,
        cursorOverStyle: "pointer",
        {{ if $data.tooltip }}
        tooltipHTML: `{{ $data.tooltip }}`
        {{ else }}
        tooltipText: "{name}"
        {{ end }}
      });

      circle.set("tooltip", tooltip);

      return am5.Bullet.new(root, {
        sprite: circle
      });
    });

    var rawData = {{ $data.points | jsonify }};
    var pointsData = (typeof rawData === 'string' ? JSON.parse(rawData) : rawData).map(function(point) {
      return {
        geometry: {
          type: "Point",
          coordinates: [point.longitude, point.latitude]
        },
        name: point.name,
        members: point.members
      };
    });

    pointSeries.data.setAll(pointsData);

    {{ if $zoom }}
    {{ if $zoom.iso }}
    polygonSeries.events.on("datavalidated", function() {
      var country = polygonSeries.getDataItemById("{{ $zoom.iso }}");
      if (country) {
        country.get("mapPolygon").setAll({
          fill: am5.color(0x881ef9),
          fillOpacity: 0.3
        });
      }
    });
    {{ end }}

    setTimeout(function() {
      chart.animate({
        key: "rotationX",
        to: -{{ $zoom.lon }},
        duration: 1500,
        easing: am5.ease.out(am5.ease.cubic)
      });
      chart.animate({
        key: "rotationY",
        to: -{{ $zoom.lat }},
        duration: 1500,
        easing: am5.ease.out(am5.ease.cubic)
      });
      chart.animate({
        key: "zoomLevel",
        to: {{ $zoom.level | default 4 }},
        duration: 1500,
        easing: am5.ease.out(am5.ease.cubic)
      });
    }, 100);
    {{ end }}
  });
}
</script>