
{{ define "main" }} 
  <div class="entry-content">{{ .Content }}</div>
  {{ range .Site.Data.meetup.events_updated  }}
  <center>
    <div class="row">
      <div class="col-12 border border-primary rounded bg-primary text-white ">
        <h2 class="entry-title p-2 w-100 text-white">Succesfully run events</h2>
        <h4 class="my-2">{{ .n_events_past }}</h4>
      </div>
    </div>
    {{ end }}
  </center>
  <div class="row my-4 w-100 align-items-center justify-content-between">
      <div class="col-6 col-md-4">
        <label for="time-zone-selector" class="col-form-label">Timezone</label>
      </div>
      <div class="col-12 col-md-8">
        <select id="time-zone-selector" class="form-select w-100" aria-label="Timezone">
          <option value="utc">Universal Time Coordinated (UTC)</option>
        </select>
      </div>
    <div  class="float-right">
      <span id="loading">loading...</span>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="row">
    <div id="calendar" class="col-12">
    </div>
  </div>
  <small class="text-muted"></small>
{{ end }}

{{ define "footer" }}
  {{ $js := slice
      (resources.Get "js/fullcalendar.min.js")
      (resources.Get "js/moment.min.js")
      (resources.Get "js/moment-with-locales.min.js")
      (resources.Get "js/moment-timezone-with-data.js")
      (resources.Get "js/tooltip.min.js")
      (resources.Get "js/events-calendar.js")
      | resources.Concat "js/events-bundle.js"
      | minify
      | fingerprint
  }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
