{{ define "main" }} {{ $update := .Site.Data.events_updated }}
<article class="post">
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
    </h1>
    <center>
      {{ range $update }}
      <small class="text-muted"
        >Events were last updated on {{ dateFormat "January 2, 2006 15:04:05"
        .date }}</small
      >
      {{ end }} {{ partial "head/fullcalendar.html" . }}
    </center>
  </header>

  <div class="entry-content">{{ .Content }}</div>
  {{ range $update }}
  <center>
    <div class="card col-3text-center b-rladies">
      <div class="card-header card-header-rladies">Succesfully run events</div>
      <div class="card-body">
        <h2 class="card-title">{{ .n_events_past }}</h2>
      </div>
    </div>
    {{ end }}
  </center>
  <div class="my-4">
      Timezone: <select id="time-zone-selector" class="form-select" aria-label="Timezone">
        
        <option value="utc">Universal Time Coordinated (UTC)</option>
        
      </select>
  </div>
    <div  class="float-right">
      <span id="loading">loading...</span>
    </div>

    <div style="clear: both"></div>

  <div id="calendar" class="w-100 h-600 my-4"></div>
  <small class="text-muted"></small>
</article>
{{ end }} {{ define "footer" }}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var timeZoneSelectorEl = document.getElementById("time-zone-selector");
    timeZone = document.getElementById("time-zone-selector").value;
    var loadingEl = document.getElementById("loading");
    var calendarEl = document.getElementById("calendar");
	var events = {{ $.Site.Data.events }}
	var timezone_list = {{ $.Site.Data.timezones }}

	timezone_list.forEach(function(timeZone) {
      var optionEl;

      if (timeZone !== 'UTC') { // UTC is already in the list
        optionEl = document.createElement('option');
        optionEl.value = timeZone;
        optionEl.innerText = timeZone;
        timeZoneSelectorEl.appendChild(optionEl);
      }
    });
      function getRladiesEvents(data) {
        let updatedTime = [];
        $.each(data, function (k, v) {
          v.start = moment.tz(v.start, timeZone).format();
          v.end = moment.tz(v.end, timeZone).format();
          updatedTime[k] = v;
        });
        return updatedTime;
      }

    var calendar = new FullCalendar.Calendar(calendarEl, {
	themeSystem: 'bootstrap',
	schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
	  headerToolbar: {
        left: "prev,next",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek",
      },
      initialDate: moment().format("YYYY-MM-DD"),
      titleFormat: {
        // will produce something like "Tuesday, September 18, 2018"
        month: "long",
        year: "numeric",
        day: "numeric",
      },
      initialView: "listWeek",
      height: "auto",
      dayMaxEvents: true, // allow "more" link when too many events

      eventDidMount: function (info) {
        var tooltip = new Tooltip(info.el, {
          title: info.event.extendedProps.body,
          placement: "bottom",
          trigger: "hover",
          container: "article",
          html: true
        });
      },

      events: getRladiesEvents(events),
      timeZone: timeZone,

      loading: function (bool) {
        if (bool) {
          loadingEl.style.display = "inline"; // show
        } else {
          loadingEl.style.display = "none"; // hide
        }
      },
	  
	  eventTimeFormat: { hour: '2-digit', minute: '2-digit', hour12: false}
    });

    calendar.render();

    // when the timezone selector changes, dynamically change the calendar option
    timeZoneSelectorEl.addEventListener("change", function () {
      timeZone = document.getElementById("time-zone-selector").value;

      var eventSource = [];
      eventSource = calendar.getEventSources();
      $.each(eventSource, function (key, value) {
        value.remove();
      });
      calendar.addEventSource(getRladiesEvents(events));
      calendar.refetchEvents();
    });
  });

  var x = document.getElementById("time-zone-selector");
  var option = document.createElement("option");
  option.id = "local";
  option.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
  option.innerText = "Local Time Zone";
  x.add(option, x[0]);
  document.getElementById("local").selected = true;
</script>
{{ end }}
