name: Build site and deploy

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - fork_merge
  push:
    branches: 
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  vars:
    name: Get job variables
    runs-on: macOS-latest
    outputs:
      cmt_msg: ${{ steps.cmt_msg.outputs.value }}
      hugo_vr: ${{ steps.hugo_vr.outputs.value }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          
      - name: Get commit message
        id: cmt_msg
        run: |
          MSG=$(git log --format=%B -n 1 ${{ github.event.after }})
          echo $MSG
          echo "::set-output name=value::${MSG}"
          
      - name: Get Hugo version
        id: hugo_vr
        run: |
          ver=$(cat .Rprofile | grep hugo.version | cut -d"=" -f2 | sed -e s.\"..g | sed -e s.\ ..g)
          echo $ver
          echo "::set-output name=value::${ver}"

  jsons:
    name: Check modified jsons
    runs-on: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get changed files
        id: check_files
        run: |
          jsons=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep json$ | xargs)
          if [[ "${jsons[*]}" = *[![:space:]]* ]]; then 
            echo ${jsons}
            echo "::set-output name=run_validation::true"
          else
            echo "No jsons commited/changed"
            echo "::set-output name=run_validation::false"
          fi
      - name: Setup R
        if: steps.check_files.outputs.run_validation == 'true'
        uses: r-lib/actions/setup-r@v2
        
      - name: Install R-packages
        if: steps.check_files.outputs.run_validation == 'true'
        run: install.packages(c("here", "jsonvalidate"), Ncpus = 2)
        shell: Rscript {0}
      
      - name: Validate jsons
        if: steps.check_files.outputs.run_validation == 'true'
        run: Rscript scripts/validate_jsons.R
        
  build:
    name: Build and publish to Netlify
    runs-on: macOS-latest
    needs: [vars, jsons]
    if: |
      (github.event_name != 'pull_request' || 
      github.event.pull_request.head.repo.full_name == github.repository) &&
      ( always() && !(contains(needs.*.result, 'failure')) )
    env:
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: ${{ needs.vars.outputs.hugo_vr }}
          extended: true
      
      - name: Install netlify cli
        run: npm install netlify-cli -g
               
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
              
      - name: Populate untranslated pages
        run: Rscript scripts/missing_translations.R
        
      - name: Site data - Get directory data
        uses: actions/checkout@v3
        with:
          repository: rladies/directory
          ssh-key: ${{ secrets.DIRECTORY_DEPLOY_SECRET}}
          path: dir
          
      - name: Site data - Meetup
        uses: actions/checkout@v3
        with:
          repository: rladies/meetup_archive
          ssh-key: ${{ secrets.MEETUP_ARCHIVE_KEY}}
          path: mtp

      - name: Site data - Get blogs list
        uses: actions/checkout@v3
        with:
          repository: rladies/awesome-rladies-blogs
          ssh-key: ${{ secrets.RLADIES_BLOGS_KEY}}
          path: rblogs
          
      - name: Site data - Get meetup data
        uses: actions/checkout@v3
        with:
          repository: rladies/meetup_archive
          ssh-key: ${{ secrets.MEETUP_ARCHIVE_KEY}}
          path: meetup_archive
          
      - name: Site data - clean cloned repos
        run: |
          mv rblogs/blogs data/rblogs
          mv dir/data/json data/directory
          mv dir/data/img assets/directory
          mv mtp/data/* data/
          rm -rf tmp rblogs mtp

      - name: Build
        run: hugo --enableGitInfo
        
      - name: Deploy Netlify preview
        if: github.event_name == 'pull_request' && contains(needs.vars.outputs.cmt_msg , 'preview')
        run: netlify deploy
        shell: sh

      - name: Deploy Netlify production
        if: github.event_name != 'pull_request'
        run: netlify deploy --prod
        shell: sh

