name: Build site and deploy

on:
  pull_request:
    branches:
      - main
      - fork_merge
  push:
    branches: 
      - main
  schedule:
  - cron: "0 */12 * * *"

jobs:
  cmt_msg:
    name: Get commit message
    runs-on: macOS-latest
    outputs:
      value: ${{ steps.cmt_msg.outputs.value }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          
      - name: Get Commit Message
        id: cmt_msg
        run: |
          MSG=$(git log --format=%B -n 1 ${{ github.event.after }})
          echo $MSG
          echo "::set-output name=value::${MSG}"      
  
  check:
    name: Check modified jsons
    runs-on: macOS-latest
    outputs:
      run_validation: ${{ steps.check_files.outputs.run_validation }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get changed files
        id: check_files
        run: |
          jsons=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep json$ | xargs)
          # remove any empty elements
          jsons=$(IFS=:
            new=()
            for p in $jsons; do
              [[ $p != *x86* ]] && new+=("$p")
            done
            echo "${new[*]}"
            )
          if [ "${#jsons[@]}" -ge 1 ]; then 
            echo ${jsons}
            echo "::set-output name=run_validation::true"
          else
            echo "No jsons commited"
            echo "::set-output name=run_validation::false"
          fi

  validate:
    name: Validate jsons
    runs-on: macOS-latest
    needs: check
    if: needs.check.outputs.run_validation == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v1
        
      - name: Run Renv
        uses: r-lib/actions/setup-renv@v1
        with:
          cache-version: 2
      
      - name: Validate jsons
        run: Rscript scripts/validate_jsons.R
        
  meetup:
    name: Update meetup data
    runs-on: macOS-latest
    if: github.event_name == 'schedule' && github.ref == 'refs/heads/main' && github.repository == 'rladies/website'
    env: 
      MEETUPR_PWD: ${{ secrets.MEETUPR_PWD }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Setup R
        uses: r-lib/actions/setup-r@v1
        
      - name: Run Renv
        uses: r-lib/actions/setup-renv@v1
        with:
          cache-version: 2
          
      - name: Meetup authentication
        run:  Rscript scripts/meetup_auth.R
        
      - name: Update chapter data
        run:  Rscript scripts/get_chapters.R
        
      - name: Update event data
        run:  Rscript scripts/get_events.R
        
      - name: Commit data	
        run: |	
          git config --local user.email "actions@github.com"	
          git config --local user.name "GitHub Actions"	
          git add data/events.json data/chapters.json data/events_updated.json	
          git commit -m 'Update meetup data' || echo "No meetup data to commit"	
        
  build:
    name: Build and publish to Netlify
    runs-on: macOS-latest
    needs: [cmt_msg, check, validate, meetup]
    if: |
      (github.event_name != 'pull_request' || 
      github.event.pull_request.head.repo.full_name == github.repository) &&
      ( ${{ !(contains(needs.*.result, 'failure')) }} )
    env:
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.88.1'
          extended: true
      
      - name: Install netlify cli
        run: npm install netlify-cli -g
               
      - name: Setup R
        uses: r-lib/actions/setup-r@v1
        
      - name: Run Renv
        uses: r-lib/actions/setup-renv@v1
        with:
          cache-version: 2
              
      - name: Populate untranslated pages
        run: Rscript scripts/missing_translations.R
        
      - name: Site data - Get directory data
        uses: actions/checkout@v2
        with:
          repository: rladies/directory
          ssh-key: ${{ secrets.DIRECTORY_DEPLOY_SECRET}}
          path: tmp
      
      - name: Site data - Get blogs list
        uses: actions/checkout@v2
        with:
          repository: rladies/awesome-rladies-blogs
          ssh-key: ${{ secrets.RLADIES_BLOGS_KEY}}
          path: rblogs
          
      - name: Site data - clean cloned repos
        run: |
          mv rblogs/blogs data/rblogs
          mv tmp/data/json data/directory
          mv tmp/data/img static/images/directory
          rm -rf tmp rblogs

      - name: Build
        run: hugo --enableGitInfo
        
      - name: Deploy Netlify preview
        if: github.event_name == 'pull_request' && contains(needs.cmt_msg.outputs.value , 'preview')
        run: netlify deploy
        shell: sh
        
      - name: Deploy Netlify production
        if: github.event_name != 'pull_request'
        run: netlify deploy --prod
        shell: sh

